@import "../../core/style/themes/default.theme";

$dropdown-prefix-cls : "#{$ant-prefix}-dropdown";

.#{$dropdown-prefix-cls} {
  position    : absolute;
  left        : -9999px;
  top         : -9999px;
  z-index     : $zindex-dropdown;
  display     : block;
  font-size   : $font-size-base;
  font-weight : normal;
  line-height : 1.5;

  @at-root &-wrap {
    position : relative;

    .#{$ant-prefix}-btn > .#{$iconfont-css-prefix}-down {
      @include iconfont-size-under-12px(10px);
    }

    .#{$iconfont-css-prefix}-down:before {
      transition : transform 0.2s ease;
    }
  }

  @at-root &-wrap-open {
    .#{$iconfont-css-prefix}-down:before {
      transform : rotate(180deg);
    }
  }

  @at-root &-hidden,
  &-menu-hidden {
    display : none;
  }

  @at-root &-menu {
    outline          : none;
    position         : relative;
    list-style-type  : none;
    padding          : 0;
    margin           : 0;
    text-align       : left;
    background-color : $component-background;
    border-radius    : $border-radius-base;
    box-shadow       : $box-shadow-base;
    background-clip  : padding-box;

    @at-root &-item,
    &-submenu-title {
      padding     : 7px 8px;
      margin      : 0;
      clear       : both;
      font-size   : $font-size-base;
      font-weight : normal;
      color       : $text-color;
      white-space : nowrap;
      cursor      : pointer;
      transition  : all .3s;

      > a {
        color      : $text-color;
        display    : block;
        padding    : 7px 8px;
        margin     : -7px -8px;
        transition : all .3s;
        @at-root &:focus {
          text-decoration : none;
        }
      }

      @at-root &-selected,
      &-selected > a {
        color            : $primary-color;
        background-color : $item-active-bg;
      }

      @at-root &:hover {
        background-color : $item-hover-bg;
      }

      @at-root &-disabled {
        color  : $disabled-color;
        cursor : not-allowed;

        @at-root &:hover {
          color            : $disabled-color;
          background-color : $component-background;
          cursor           : not-allowed;
        }
      }

      @at-root &:first-child,
      &:first-child > a {
        border-radius : $border-radius-base $border-radius-base 0 0;
      }

      @at-root &:last-child,
      &:last-child > a {
        border-radius : 0 0 $border-radius-base $border-radius-base;
      }

      @at-root &:only-child,
      &:only-child > a {
        border-radius : $border-radius-base;
      }

      @at-root &-divider {
        height           : 1px;
        overflow         : hidden;
        background-color : $border-color-split;
        line-height      : 0;
        margin           : 0.5em 0;
      }
    }

    @at-root &-submenu-title:after {
      font-family : "anticon" !important;
      position    : absolute;
      content     : "\e61f";
      right       : 8px;
      color       : $text-color-secondary;
      @include iconfont-size-under-12px(10px);
    }

    @at-root &-submenu-vertical {
      position : relative;
    }

    @at-root &-submenu-vertical > #{&} {
      top              : 0;
      left             : 100%;
      position         : absolute;
      min-width        : 100%;
      margin-left      : 4px;
      transform-origin : 0 0;
    }

    @at-root &-submenu#{&}-submenu-disabled .#{$dropdown-prefix-cls}-menu-submenu-title {
      @at-root &,
      &:after {
        color : $disabled-color;
      }
    }
    @at-root &-submenu:first-child #{&}-submenu-title {
      border-radius : $border-radius-base $border-radius-base 0 0;
    }

    @at-root &-submenu:last-child #{&}-submenu-title {
      border-radius : 0 0 $border-radius-base $border-radius-base;
    }
  }

  @at-root &.slide-down-enter.slide-down-enter-active#{&}-placement-bottomLeft,
  &.slide-down-appear.slide-down-appear-active#{&}-placement-bottomLeft,
  &.slide-down-enter.slide-down-enter-active#{&}-placement-bottomCenter,
  &.slide-down-appear.slide-down-appear-active#{&}-placement-bottomCenter,
  &.slide-down-enter.slide-down-enter-active#{&}-placement-bottomRight,
  &.slide-down-appear.slide-down-appear-active#{&}-placement-bottomRight {
    animation-name : antSlideUpIn;
  }

  @at-root &.slide-up-enter.slide-up-enter-active#{&}-placement-topLeft,
  &.slide-up-appear.slide-up-appear-active#{&}-placement-topLeft,
  &.slide-up-enter.slide-up-enter-active#{&}-placement-topCenter,
  &.slide-up-appear.slide-up-appear-active#{&}-placement-topCenter,
  &.slide-up-enter.slide-up-enter-active#{&}-placement-topRight,
  &.slide-up-appear.slide-up-appear-active#{&}-placement-topRight {
    animation-name : antSlideDownIn;
  }

  @at-root &.slide-down-leave.slide-down-leave-active#{&}-placement-bottomLeft,
  &.slide-down-leave.slide-down-leave-active#{&}-placement-bottomCenter,
  &.slide-down-leave.slide-down-leave-active#{&}-placement-bottomRight {
    animation-name : antSlideUpOut;
  }

  @at-root &.slide-up-leave.slide-up-leave-active#{&}-placement-topLeft,
  &.slide-up-leave.slide-up-leave-active#{&}-placement-topCenter,
  &.slide-up-leave.slide-up-leave-active#{&}-placement-topRight {
    animation-name : antSlideDownOut;
  }
}

.#{$dropdown-prefix-cls}-trigger,
.#{$dropdown-prefix-cls}-link {
  .#{$iconfont-css-prefix}-down {
    @include iconfont-size-under-12px(10px);
  }
}

.#{$dropdown-prefix-cls}-button {
  white-space : nowrap;

  @at-root &.#{$ant-prefix}-btn-group > .#{$ant-prefix}-btn:last-child:not(:first-child) {
    padding-right : 8px;
  }
  .#{$iconfont-css-prefix}-down {
    @include iconfont-size-under-12px(10px);
  }
}

// https://github.com/ant-design/ant-design/issues/4903
.#{$dropdown-prefix-cls}-menu-dark {
  @at-root &,
  & .#{$dropdown-prefix-cls}-menu {
    background : $menu-dark-bg;
  }
  .#{$dropdown-prefix-cls}-menu-item,
  .#{$dropdown-prefix-cls}-menu-submenu-title,
  .#{$dropdown-prefix-cls}-menu-item > a {
    color : $text-color-secondary-dark;
    @at-root &:after {
      color : $text-color-secondary-dark;
    }
    @at-root &:hover {
      color      : #fff;
      background : transparent;
    }
  }

  .#{$dropdown-prefix-cls}-menu-item-selected {
    @at-root &,
    &:hover,
    & > a {
      background : $primary-color;
      color      : #fff;
    }
  }
}
