/**
 * import third party library first
 * include mathsass etc.
 */
@import "vendor/_math/math";
@import "~@angular/cdk/overlay";


// Color
@import "_color/contrast";
@import "_color/utils";
@import "_color/color-palette";

//Variables And Theme
@import "variables";
// @import "themes/default";

// Mixins
@import "_mixins/clearfix";
@import "_mixins/compatibility";
@import "_mixins/iconfont";
@import "_mixins/import-once";
@import "_mixins/layout";
@import "_mixins/motion";
@import "_mixins/opacity";
@import "_mixins/size";


// Core
@import "_core/base";
@import "_core/iconfont";
@import "_core/motion";

//build angular cdk
$cdk-overlay-dark-backdrop-background: transparent;
@include cdk-overlay();

//Components

//basic components
@import "components/grid/grid";
@import "components/grid/mixin";
@import "components/grid-list/grid-list";

@import "components/button/button";
@import "components/button/mixin";

@import "components/inputs/checkbox";
@import "components/inputs/checkbox-mixin";
@import "components/inputs/input";
@import "components/inputs/input-number";
@import "components/inputs/input-mixin";
@import "components/inputs/input-patch";
@import "components/inputs/radio";
@import "components/inputs/search-input";
@import "components/inputs/select";
@import "components/inputs/select-patch";
@import "components/layout/layout";
@import "components/layout/layout-patch";

//featured components
@import "components/affix/affix";
@import "components/affix/patch";
@import "components/anchor/anchor";
@import "components/anchor/anchor-patch";
@import "components/avatar/avatar";
@import "components/avatar/avatar-patch";
@import "components/back-top/back-top";
@import "components/back-top/back-top-patch";
@import "components/badge/badge";
@import "components/badge/badge-patch";
@import "components/breadcrumb/breadcrumb";
@import "components/breadcrumb/breadcrumb-patch";
@import "components/calendar/calendar";
@import "components/calendar/calendar-patch";
@import "components/card/card-patch";
@import "components/card/card";
@import "components/carousel/carousel";
@import "components/carousel/carousel-patch";
@import "components/cascader/cascader";
@import "components/cascader/cascader-patch";
@import "components/collapse/collapse";
@import "components/collapse/collapse-patch";
@import "components/data-table/index";
@import "components/data-table/pagination";
@import "components/datepicker/date-picker";
@import "components/dropdown/dropdown";
@import "components/dropdown/dropdown-patch";
@import "components/form/mixin";
@import "components/form/form";
@import "components/form/form-patch";
@import "components/menu/menu";
@import "components/message/alert";
@import "components/message/alert-patch";
@import "components/message/message";
@import "components/message/notification";
@import "components/modal/confirm";
@import "components/modal/modal";
@import "components/pagination/pagination";
@import "components/popover/index";
@import "components/popover/patch";
@import "components/popconfirm/popconfirm";
@import "components/popconfirm/popconfirm-patch";
@import "components/progress/progress";
@import "components/rate/index";
@import "components/root/root";
@import "components/slider/slider";
@import "components/spin/spin";
@import "components/steps/steps";
@import "components/steps/steps-patch";
@import "components/switch/switch";
@import "components/table/index";
@import "components/table/patch";
//@import "components/tabs/card-style";
@import "components/tabs/tabs";
@import "components/tabs/tabs-patch";
@import "components/tag/tag";
@import "components/tag/tag-patch";
@import "components/time-picker/time-picker";
@import "components/time-picker/time-picker-patch";
@import "components/timeline/index";
@import "components/tooltip/tooltip";
@import "components/tooltip/tool-patch";
//@import "components/common";
