@import "../../core/themes/default-theme";


// Input
// ---
$input-height-base           : $form-control-height-base !default;
$input-height-lg             : $form-control-height-lg !default;
$input-height-sm             : $form-control-height-sm !default;

$input-line-height           : $line-height-base !default;
$input-line-height-sm        : $line-height-sm !default;
$input-line-height-lg        : $line-height-lg !default;

$input-padding-horizontal    : 0.5rem !default;
$input-padding-vertical-base : 0.25rem !default;
$input-padding-vertical-sm   : 0.125rem !default;
$input-padding-vertical-lg   : 0.375rem !default;

$input-border-width          : $border-width-base !default;