@use "sass:map";
@use "../../core/style/mixins";
@use "../../core/style/variables";
@use "../../core/style/theming";
@use "input-variables";

@mixin tri-input-group-theme($theme, $inputClass) {
  $foreground : map.get($theme, foreground);
  $background : map.get($theme, background);

  $primary    : map.get($theme, primary);

  .#{$inputClass}-prefix,
  .#{$inputClass}-suffix {
    color : theming.tri-color($foreground, input-color);
  }

  @at-root &-addon {
    color            : theming.tri-color($theme, input-addon-color);
    background-color : theming.tri-color($theme, input-addon-bg);
    border           : input-variables.$input-border-width mixins.$border-style-base theming.tri-color($theme, input-border-color);

    .#{mixins.$tri-prefix}-select {

      > .#{mixins.$tri-prefix}-select-selection {
        background-color : inherit;
        border           : input-variables.$input-border-width mixins.$border-style-base transparent;
      }

      @at-root &-open,
      &-focused {
        .#{mixins.$tri-prefix}-select-selection {
          color : theming.tri-color($primary);
        }
      }
    }
  }
}