@import "../../core/style/mixins";
@import "../../core/style/variables";

@import "../../core/style/legend/button-common";
@import "../../core/style/variables";
@import "./input-mixin";

.#{$tri-prefix}-input-search-icon {
  cursor     : pointer;
  transition : all .3s;
  font-size  : 14px;
}

.#{$tri-prefix}-search-input-wrapper {
  display        : inline-block;
  vertical-align : middle;
}

.#{$tri-prefix}-search-input {
  @at-root &.#{$tri-prefix}-input-group .#{$tri-prefix}-input:first-child,
  &.#{$tri-prefix}-input-group .#{$tri-prefix}-select:first-child {
    border-radius : $border-radius-base;
    position      : absolute;
    top           : -1px;
    width         : 100%;
  }

  @at-root &.#{$tri-prefix}-input-group .#{$tri-prefix}-input:first-child {
    padding-right : 36px;
  }

  .#{$tri-prefix}-search-btn {
    //@include btn-default($theme);
    border-radius : 0 ($border-radius-base - 1px) ($border-radius-base - 1px) 0;
    left          : -1px;
    position      : relative;
    border-width  : 0 0 0 1px;
    z-index       : 2;
    padding-left  : 8px;
    padding-right : 8px;
  }

  //@at-root &#{&}-focus .#{$tri-prefix}-search-btn-noempty,
  //&:hover .#{$tri-prefix}-search-btn-noempty {
  //  @include button-variant-primary($btn-primary-color, $btn-primary-bg);
  //}

  .#{$tri-prefix}-select-combobox {
    .#{$tri-prefix}-select-selection__rendered {
      margin-right : 29px;
    }
  }
}
