@import "../../core/themes/default-theme";

@import "../../button/style/button-mixins";
@import "./input-mixin";

.#{$ant-prefix}-input-search-icon {
  cursor     : pointer;
  transition : all .3s;
  font-size  : 14px;
}

.#{$ant-prefix}-search-input-wrapper {
  display        : inline-block;
  vertical-align : middle;
}

.#{$ant-prefix}-search-input {
  @at-root &.#{$ant-prefix}-input-group .#{$ant-prefix}-input:first-child,
  &.#{$ant-prefix}-input-group .#{$ant-prefix}-select:first-child {
    border-radius : $border-radius-base;
    position      : absolute;
    top           : -1px;
    width         : 100%;
  }

  @at-root &.#{$ant-prefix}-input-group .#{$ant-prefix}-input:first-child {
    padding-right : 36px;
  }

  .#{$ant-prefix}-search-btn {
    //@include btn-default($theme);
    border-radius : 0 ($border-radius-base - 1px) ($border-radius-base - 1px) 0;
    left          : -1px;
    position      : relative;
    border-width  : 0 0 0 1px;
    z-index       : 2;
    padding-left  : 8px;
    padding-right : 8px;
  }

  //@at-root &#{&}-focus .#{$ant-prefix}-search-btn-noempty,
  //&:hover .#{$ant-prefix}-search-btn-noempty {
  //  @include button-variant-primary($btn-primary-color, $btn-primary-bg);
  //}

  .#{$ant-prefix}-select-combobox {
    .#{$ant-prefix}-select-selection__rendered {
      margin-right : 29px;
    }
  }
}
