@use "sass:map";
@use "../../core/themes/theme";
@use "../../core/style/legend/button-common";
@use "../../core/style/theming";
@use "../../core/style/variables" as v;

$btn-prefix-cls       : "#{ v.$tri-prefix}-btn";

// Buttons

$foreground           : theme.$foreground;
$background           : theme.$background;

$primary              : theme.$primary;
$success              : theme.$success;
$highlight            : theme.$highlight;
$warning              : theme.$warning;
$error                : theme.$error;

$btn-primary-color    : #fff !default;
$btn-primary-bg       : theming.tri-color($primary) !default;

$btn-default-color    : theming.tri-color($foreground, text-color) !default;
$btn-default-bg       : #fff !default;
$btn-default-border   : theming.tri-color($foreground, border-color-base) !default;

$btn-success-color    : #fff !default;
$btn-success-bg       : theming.tri-color($success) !default;
$btn-success-border   : theming.tri-color($success) !default;

$btn-warning-color    : #fff !default;
$btn-warning-bg       : theming.tri-color($warning) !default;
$btn-warning-border   : theming.tri-color($warning) !default;

$btn-danger-color     : theming.tri-color($error) !default;
$btn-danger-bg        : theming.tri-color($background, background-color-base) !default;
$btn-danger-border    : theming.tri-color($foreground, border-color-base) !default;

$btn-highlight-color  : #fff !default;
$btn-highlight-bg     : theming.tri-color($highlight) !default;
$btn-highlight-border : theming.tri-color($highlight) !default;

$btn-disable-color    : theming.tri-color($foreground, disabled-color) !default;
$btn-disable-bg       : theming.tri-color($foreground, disabled-bg) !default;
$btn-disable-border   : theming.tri-color($foreground, border-color-base) !default;

$btn-group-border     : theming.tri-color($primary, 600) !default;

$btn-ghost-color      : theming.tri-color($foreground, text-color) !default;
$btn-ghost-bg         : transparent !default;
$btn-ghost-border     : theming.tri-color($foreground, border-color-base) !default;

@mixin tri-button-theme() {


  // Button styles
  // -----------------------------
  .#{$btn-prefix-cls} {
    @include button-common.btn-default();

    @at-root &-primary {
      @include button-common.button-variant-primary($btn-primary-color, $btn-primary-bg);

      @include button-common.btn-group-border(".#{$btn-prefix-cls}-group", $btn-group-border, $btn-default-border);
    }

    @at-root &-success {
      @include button-common.button-variant-primary($btn-success-color, $btn-success-bg);

      @include button-common.btn-group-border(".#{$btn-prefix-cls}-group", theming.tri-color-palette($btn-success-border, 7), $btn-default-border);
    }

    @at-root &-warning {
      @include button-common.button-variant-primary($btn-warning-color, $btn-warning-bg);

      @include button-common.btn-group-border(".#{$btn-prefix-cls}-group", theming.tri-color-palette($btn-warning-border, 7), $btn-default-border);
    }

    @at-root &-ghost {
      @include button-common.button-variant-other($btn-ghost-color, $btn-ghost-bg, $btn-ghost-border, theming.tri-color($primary));
    }

    @at-root &-dashed {
      @include button-common.button-variant-other($btn-default-color, $btn-default-bg, $btn-default-border, theming.tri-color($primary));
      border-style : dashed;
    }

    @at-root &-danger {
      @include button-common.button-variant-danger($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-primary-color);
    }

    @at-root &-highlight {
      @include button-common.button-variant-primary($btn-highlight-color, $btn-highlight-bg, $btn-highlight-border);

      @include button-common.btn-group-border(".#{$btn-prefix-cls}-group", theming.tri-color-palette($btn-highlight-border, 7), $btn-default-border);
    }

    @at-root &:before {
      background : #fff;
    }

    @at-root &-clicked:after {
      border : 0 solid theming.tri-color($primary);
    }

    @at-root &-success#{&}-clicked:after {
      border-color : $btn-success-border;
    }

    @at-root &-warning#{&}-clicked:after {
      border-color : $btn-warning-border;
    }

    @at-root &-danger#{&}-clicked:after {
      border-color : $btn-danger-color;
    }

    @at-root &-background-ghost {
      background   : transparent !important;
      border-color : #fff;
      color        : #fff;
    }

    @at-root &-background-ghost#{&}-primary {
      @include button-common.button-variant-ghost(theming.tri-color($primary));
    }

    @at-root &-background-ghost#{&}-danger {
      @include button-common.button-variant-ghost($btn-danger-color);
    }
  }
}
