@import "../../core/themes/default-theme";
@import "./button-mixins";

$btn-prefix-cls : "#{$ant-prefix}-btn";

@mixin tri-button-theme($theme) {
  // Buttons

  $foreground           : map-get($theme, foreground);
  $background           : map-get($theme, background);

  $primary              : map-get($theme, primary);
  $success              : map-get($theme, success);
  $warning              : map-get($theme, warning);
  $error                : map-get($theme, error);

  $btn-primary-color    : #fff !default;
  $btn-primary-bg       : tri-color($primary) !default;

  $btn-default-color    : tri-color($foreground, text-color);
  $btn-default-bg       : #fff !default;
  $btn-default-border   : tri-color($foreground, border-color-base);

  $btn-success-color    : #fff !default;
  $btn-success-bg       : tri-color($success) !default;
  $btn-success-border   : tri-color($success) !default;

  $btn-warning-color    : #fff !default;
  $btn-warning-bg       : tri-color($warning) !default;
  $btn-warning-border   : tri-color($warning) !default;

  $btn-danger-color     : tri-color($error) !default;
  $btn-danger-bg        : tri-color($background, background-color-base);
  $btn-danger-border    : tri-color($background, border-color-base);

  $btn-highlight-color  : #fff !default;
  $btn-highlight-bg     : tri-color($foreground, highlight-color);
  $btn-highlight-border : tri-color($foreground, highlight-color);

  $btn-disable-color    : tri-color($foreground, disabled-color);
  $btn-disable-bg       : tri-color($foreground, disabled-bg);
  $btn-disable-border   : tri-color($foreground, border-color-base);

  $btn-group-border     : tri-color($primary, 600);

  // for compatibile
  $btn-ghost-color      : tri-color($foreground, text-color);
  $btn-ghost-bg         : transparent;
  $btn-ghost-border     : tri-color($foreground, border-color-base);

  // Button styles
  // -----------------------------
  .#{$btn-prefix-cls} {
    @include btn-default($theme);

    @at-root &-primary {
      @include button-variant-primary($btn-primary-color, $btn-primary-bg);

      @include btn-group-border(".#{$btn-prefix-cls}-group", $btn-group-border, $btn-default-border);
    }

    @at-root &-success {
      @include button-variant-primary($btn-success-color, $btn-success-bg);

      @include btn-group-border(".#{$btn-prefix-cls}-group", tri-color-palette($btn-success-border, 7), $btn-default-border);
    }

    @at-root &-warning {
      @include button-variant-primary($btn-warning-color, $btn-warning-bg);

      @include btn-group-border(".#{$btn-prefix-cls}-group", tri-color-palette($btn-warning-border, 7), $btn-default-border);
    }

    @at-root &-ghost {
      @include button-variant-other($btn-ghost-color, $btn-ghost-bg, $btn-ghost-border, $primary);
    }

    @at-root &-dashed {
      @include button-variant-other($btn-default-color, $btn-default-bg, $btn-default-border, $primary);
      border-style : dashed;
    }

    @at-root &-danger {
      @include button-variant-danger($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-primary-color);
    }

    @at-root &-highlight {
      @include button-variant-primary($btn-highlight-color, $btn-highlight-bg, $btn-highlight-border);

      @include btn-group-border(".#{$btn-prefix-cls}-group", tri-color-palette($btn-highlight-border, 7), $btn-default-border);
    }

    @at-root &:before {
      background : #fff;
    }

    @at-root &-clicked:after {
      border : 0 solid tri-color($primary);
    }

    @at-root &-success#{&}-clicked:after {
      border-color : $btn-success-border;
    }

    @at-root &-warning#{&}-clicked:after {
      border-color : $btn-warning-border;
    }

    @at-root &-danger#{&}-clicked:after {
      border-color : $btn-danger-color;
    }

    @at-root &-background-ghost {
      background   : transparent !important;
      border-color : #fff;
      color        : #fff;
    }

    @at-root &-background-ghost#{&}-primary {
      @include button-variant-ghost(tri-color($primary));
    }

    @at-root &-background-ghost#{&}-danger {
      @include button-variant-ghost($btn-danger-color);
    }
  }
}
