@import "../../core/themes/default-theme";

$btn-prefix-cls   : "#{$ant-prefix}-btn";


// Buttons
$btn-font-weight                : $font-weight-normal !default;
$btn-border-radius-base         : $border-radius-base !default;
$btn-border-radius-sm           : $border-radius-base !default;

$btn-height-base                : 2rem !default;
$btn-height-lg                  : 2.25rem !default;
$btn-height-sm                  : 1.75rem !default;

$btn-padding-x-lg               : 1.125rem !default;
$btn-padding-y-lg               : 0.375rem !default;
$btn-font-size-lg               : $font-size-lg !default;
$btn-line-height-lg             : 1 !default;

$btn-padding-x-base             : 1rem !default;
$btn-padding-y-base             : 0.3125rem !default;
$btn-font-size-base             : $font-size-base !default;
$btn-line-height-base           : 1 !default;

$btn-padding-x-sm               : 0.5rem !default;
$btn-padding-y-sm               : 0.25rem !default;
$btn-font-size-sm               : $font-size-sm !default;
$btn-line-height-sm             : 1 !default;

//$btn-height-base        : 28px !default;
//$btn-height-lg          : 32px !default;
//$btn-height-sm          : 22px !default;

$btn-circle-size                : $btn-height-base !default;
$btn-circle-size-lg             : $btn-height-lg !default;
$btn-circle-size-sm             : $btn-height-sm !default;

//$btn-group-border               : $primary-7 !default;

// for compatibile
//$btn-ghost-color  : $text-color;
//$btn-ghost-bg     : transparent;
//$btn-ghost-border : $border-color-base;

// Button styles
// -----------------------------
.#{$btn-prefix-cls} {
  @include btn;
  @include btn-default;

  @at-root &-circle,
  &-circle-outline {
    @include btn-circle($btn-prefix-cls)
  }

  .#{$iconfont-css-prefix} {
    transition : margin-left .1s $ease-in-out,
  }

  @at-root &#{&}-loading:before {
    display : block;
  }

  @at-root &#{&}-loading:not(#{&}-circle):not(#{&}-circle-outline) {
    padding-left   : 29px;
    pointer-events : none;
    position       : relative;
    .#{$iconfont-css-prefix} {
      margin-left : -14px;
    }
  }

  @at-root &-sm#{&}-loading:not(#{&}-circle):not(#{&}-circle-outline) {
    padding-left : 24px;
    .#{$iconfont-css-prefix} {
      margin-left : -17px;
    }
  }

  @at-root &-group {
    @include btn-group($btn-prefix-cls);
  }

  @at-root &:not(#{&}-circle):not(#{&}-circle-outline)#{&+'-icon-only'} {
    padding-left  : 8px;
    padding-right : 8px;
  }

  @at-root &:focus > span,
  &:active > span {
    position : relative;
  }

  > .#{$iconfont-css-prefix} + span,
  > span + .#{$iconfont-css-prefix} {
    margin-left : 0.5em;
  }
}
