@import "../../core/themes/default-theme";
@import "../../input/style/input-mixin";

$cascader-prefix-cls : "#{$ant-prefix}-cascader";

.#{$cascader-prefix-cls} {
  font-size : $font-size-base;

  @at-root &-input.#{$ant-prefix}-input {
    // Add important to fix https://github.com/ant-design/ant-design/issues/5078
    // because input.scss will compile after cascader.scss
    background-color : transparent !important;
    cursor           : pointer;
    width            : 100%;
    display          : block;
  }

  @at-root &-picker {
    position         : relative;
    display          : inline-block;
    cursor           : pointer;
    font-size        : $font-size-base;
    background-color : $component-background;
    border-radius    : $border-radius-base;
    outline          : 0;

    @at-root &-with-value #{&}-label {
      color : transparent;
    }

    @at-root &-disabled {
      cursor     : not-allowed;
      background : $input-disabled-bg;
      color      : $disabled-color;
      .#{$cascader-prefix-cls}-input {
        cursor : not-allowed;
      }
    }

    @at-root &:focus .#{$cascader-prefix-cls}-input {
      @include active;
    }

    @at-root &-label {
      position      : absolute;
      left          : 0;
      height        : 20px;
      line-height   : 20px;
      top           : 50%;
      margin-top    : -10px;
      white-space   : nowrap;
      text-overflow : ellipsis;
      overflow      : hidden;
      width         : 100%;
      padding       : 0 12px 0 8px;
    }

    @at-root &-clear {
      opacity     : 0;
      position    : absolute;
      right       : 8px;
      z-index     : 2;
      background  : $component-background;
      top         : 50%;
      font-size   : $font-size-base;
      color       : $disabled-color;
      width       : 12px;
      height      : 12px;
      margin-top  : -6px;
      line-height : 12px;
      cursor      : pointer;
      transition  : color 0.3s ease, opacity 0.15s ease;
      @at-root &:hover {
        color : $text-color-secondary;
      }
    }

    @at-root &:hover #{&}-clear {
      opacity : 1;
    }

    // arrow
    @at-root &-arrow {
      position    : absolute;
      z-index     : 1;
      top         : 50%;
      right       : 8px;
      width       : 12px;
      height      : 12px;
      margin-top  : -6px;
      line-height : 12px;
      color       : $text-color-secondary;
      @include iconfont-size-under-12px(9px);
      @at-root &:before {
        transition : transform 0.2s ease;
      }
      @at-root &#{&}-expand {
        @include ie-rotate(2);
        @at-root &:before {
          transform : rotate(180deg);
        }
      }
    }
  }
  @at-root &-menus {
    font-size     : $font-size-base;
    background    : $component-background;
    position      : absolute;
    z-index       : $zindex-dropdown;
    border-radius : $border-radius-base;
    box-shadow    : $box-shadow-base;
    white-space   : nowrap;
    @at-root &-empty,
    &-hidden {
      display : none;
    }
    @at-root &.slide-up-enter.slide-up-enter-active#{&}-placement-bottomLeft,
    &.slide-up-appear.slide-up-appear-active#{&}-placement-bottomLeft {
      animation-name : antSlideUpIn;
    }

    @at-root &.slide-up-enter.slide-up-enter-active#{&}-placement-topLeft,
    &.slide-up-appear.slide-up-appear-active#{&}-placement-topLeft {
      animation-name : antSlideDownIn;
    }

    @at-root &.slide-up-leave.slide-up-leave-active#{&}-placement-bottomLeft {
      animation-name : antSlideUpOut;
    }

    @at-root &.slide-up-leave.slide-up-leave-active#{&}-placement-topLeft {
      animation-name : antSlideDownOut;
    }
  }
  @at-root &-menu {
    display        : inline-block;
    vertical-align : top;
    min-width      : 111px;
    height         : 180px;
    list-style     : none;
    margin         : 0;
    padding        : 0;
    border-right   : $border-width-base $border-style-base $border-color-split;
    overflow       : auto;
    @at-root &:first-child {
      border-radius : $border-radius-base 0 0 $border-radius-base;
    }
    @at-root &:last-child {
      border-right-color : transparent;
      margin-right       : -1px;
      border-radius      : 0 $border-radius-base $border-radius-base 0;
    }
    @at-root &:only-child {
      border-radius : $border-radius-base;
    }
  }
  @at-root &-menu-title {
    padding     : 8px 16px;
    white-space : nowrap;
    color       : rgba(0, 0, 0, 0.43);
    font-size   : 14px;
    line-height : 1.5;
    display     : block;
    text-align  : center;
  }
  @at-root &-menu-item {
    padding     : 7px 20px 7px 8px;
    cursor      : pointer;
    white-space : nowrap;
    transition  : all 0.3s;
    @at-root &:hover {
      background : $item-hover-bg;
    }
    @at-root &-disabled {
      cursor : not-allowed;
      color  : $disabled-color;
      @at-root &:hover {
        background : transparent;
      }
    }
    @at-root &-active:not(#{&}-disabled) {
      @at-root &,
      &:hover {
        background  : $background-color-base;
        font-weight : bold;
      }
    }
    @at-root &-expand {
      position : relative;
      @at-root &:after {
        @include iconfont-font("\e61f");
        @include iconfont-size-under-12px(8px);
        color    : $text-color-secondary;
        position : absolute;
        right    : 8px;
      }
    }
    @at-root &-loading:after {
      @include iconfont-font("\e64d");
      animation : loadingCircle 1s infinite linear;
    }

    @at-root &#{&}-keyword {
      color : $highlight-color;
    }
  }
}
