<div triDropContainer
     class="item-dropzone parent"
     [id]="parentItemId"
     [triDropContainerData]="parentItem"
     [triDropContainerConnectedTo]="allDropContainersIds"
     (triDropContainerDropped)="onDragDrop($event)">
  <div triDrag
       [id]="item.uId"
       [triDragData]="item"
       [triDragDisabled]="dragDisabled">
    <div title="Drag this item with children"
         class="item-drag-handle"
         triDragHandle>
      {{item.name}}
      <tri-icon *ngIf="!dragDisabled"
                svgIcon="outline:drag">
        drag_indicator
      </tri-icon>
    </div>
    <div class="item-drag-preview"
         *triDragPreview>
      {{item.name}} with {{item.children.length}} child item(s)
    </div>
  </div>
  <ul triDropContainer
      class="item-dropzone"
      [id]="item.uId"
      [triDropContainerConnectedTo]="connectedDropContainersIds"
      [triDropContainerData]="item"
      (triDropContainerDropped)="onDragDrop($event)">
    <li *ngFor="let subItem of item.children">
      <list-item [item]="subItem"
                 [parentItem]="item"
                 [connectedDropContainersIds]="allDropContainersIds"
                 (itemDrop)="onDragDrop($event)">
      </list-item>
    </li>
  </ul>
</div>
