$confirm-prefix-cls : "#{$tri-prefix}-confirm";

.#{$confirm-prefix-cls} {
  .#{$tri-prefix}-modal-header {
    display : none;
  }

  .#{$tri-prefix}-modal-close {
    display : none;
  }

  .#{$tri-prefix}-modal-body {
    padding : 30px 40px;
  }

  @at-root &-body-wrapper {
    @include clearfix();
  }

  @at-root &-body {
    .#{$confirm-prefix-cls}-title {
      color       : $text-color;
      font-weight : bold;
      font-size   : $font-size-lg;
    }

    .#{$confirm-prefix-cls}-content {
      margin-left : 42px;
      font-size   : $font-size-base;
      color       : $text-color;
      margin-top  : 8px;
    }

    > .#{v.$iconfont-css} {
      font-size    : 24px;
      margin-right : 16px;
      padding      : 0 1px;
      float        : left;
    }
  }

  .#{$confirm-prefix-cls}-btns {
    margin-top : 30px;
    float      : right;

    button + button {
      margin-left   : 10px;
      margin-bottom : 0;
    }
  }

  @at-root &-error #{&}-body > .#{v.$iconfont-css} {
    color : $error-color;
  }

  @at-root &-warning #{&}-body > .#{v.$iconfont-css},
  &-confirm #{&}-body > .#{v.$iconfont-css} {
    color : $warning-color;
  }

  @at-root &-info #{&}-body > .#{v.$iconfont-css} {
    color : $info-color;
  }

  @at-root &-success #{&}-body > .#{v.$iconfont-css} {
    color : $success-color;
  }
}
