@use "sass:map";
@use "../../core/themes/theme";
@use "../../core/style/theming";
@use "../../core/style/variables" as v;

$badge-prefix-cls  : "#{ v.$tri-prefix}-badge";
$number-prefix-cls : "#{ v.$tri-prefix}-scroll-number";

@mixin tri-badge-theme($theme) {
  $primary : map.get($theme, primary);

  .#{$badge-prefix-cls} {

    @at-root &-count {
      background : theming.tri-color(theming.tri-palette($theme, highlight));
      color      : #fff;
      a,
      a:hover {
        color : #fff;
      }
    }

    @at-root &-dot {
      background : theming.tri-color(theming.tri-palette($theme, highlight));
      box-shadow : 0 0 0 1px #fff;
    }

    @at-root &-status {
      @at-root &-success {
        background-color : theming.tri-color(theming.tri-palette($theme, success));
      }
      @at-root &-processing {
        background-color : theming.tri-color(theming.tri-palette($theme, primary));
        @at-root &:after {
          border : 1px solid theming.tri-color($primary);
        }
      }
      @at-root &-default {
        background-color : theming.tri-color(theming.tri-palette($theme, normal-color));
      }
      @at-root &-error {
        background-color : theming.tri-color(theming.tri-palette($theme, error));
      }
      @at-root &-warning {
        background-color : theming.tri-color(theming.tri-palette($theme, warning));
      }
      @at-root &-text {
        color : theming.tri-color(theming.tri-palette($theme, text-color));
      }
    }
  }
}