.#{$badge-prefix-cls} {

  @at-root &-count {
    position  : absolute;
    transform : translateX(50%);
    right     : 0;
  }
  @at-root &-dot {
    position  : absolute;
    transform : translateX(50%);
    right     : 0;
  }
}
