<div class="options">
  <a triRaisedButton href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/resize"
     target="_blank" class="source-code-button">
     <tri-icon svgIcon="outline:fork"></tri-icon>
    Source
  </a>
<!--  <markdown [src]="'assets/resize.md'"></markdown>-->
</div>
<div class="options-header" *ngIf="options.resizable && options.resizable.handles">
  <tri-checkbox [(ngModel)]="options.resizable.enabled" (ngModelChange)="changedOptions()">
    Resize Items
  </tri-checkbox>
  <div class="form-field">
    <input triInput [(ngModel)]="options.resizable.delayStart" type="number" placeholder="Delay Start ms"
           (ngModelChange)="changedOptions()">
  </div>
  <tri-checkbox [(ngModel)]="options.resizable.handles.s"
                (ngModelChange)="changedOptions()">
    Resize South
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.e"
                (ngModelChange)="changedOptions()">
    Resize East
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.n"
                (ngModelChange)="changedOptions()">
    Resize North
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.w"
                (ngModelChange)="changedOptions()">
    Resize West
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.se"
                (ngModelChange)="changedOptions()">
    Resize South-East
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.ne"
                (ngModelChange)="changedOptions()">
    Resize North-East
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.sw"
                (ngModelChange)="changedOptions()">
    Resize South-West
  </tri-checkbox>
  <tri-checkbox [(ngModel)]="options.resizable.handles.nw"
                (ngModelChange)="changedOptions()">
    Resize North-West
  </tri-checkbox>
  <button triIconOnlyButton (click)="addItem()" class="add-button cols-2">
    <tri-icon svgIcon="outline:plus"></tri-icon>
  </button>
</div>


<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button triIconOnlyButton (mousedown)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)">
        <tri-icon svgIcon="outline:delete"></tri-icon>
      </button>
    </div>
  </gridster-item>
</gridster>
