@import "../../core/themes/default-theme";
@import "../../input/style/input-mixin";

$input-number-prefix-cls : "#{$ant-prefix}-input-number";

@mixin handler-disabled() {
  opacity : 0.72;
  color   : #ccc !important;
  cursor  : not-allowed;
}

.#{$input-number-prefix-cls} {
  @include input();
  margin        : 0;
  padding       : 0;
  //font-size     : $font-size-base;
  //height        : $input-height-base;
  display       : inline-block;
  border        : $border-width-base $border-style-base $border-color-base;
  border-radius : $border-radius-base;
  width         : 80px;

  @at-root &-handler {
    text-align  : center;
    line-height : 0;
    height      : 50%;
    overflow    : hidden;
    color       : $text-color-secondary;
    position    : relative;
    transition  : all 0.1s linear;
    display     : block;
    width       : 100%;
    font-weight : bold;
    @at-root &:active {
      background : #f4f4f4;
    }
    @at-root &:hover #{&}-up-inner,
    &:hover #{&}-down-inner {
      color : $primary-5;
    }
  }

  @at-root &-handler-up-inner,
  &-handler-down-inner {
    @include iconfont-mixin();
    line-height : 12px;
    user-select : none;
    position    : absolute;
    width       : 12px;
    height      : 12px;
    transition  : all 0.1s linear;
    @include iconfont-size-under-12px(7px);
    right       : 4px;
    color       : $text-color-secondary;
  }

  @at-root &:hover {
    @include hover();
  }

  @at-root &-focused {
    @include active();
  }

  @at-root &-disabled {
    @include disabled();
  }

  @at-root &-input {
    width            : 100%;
    text-align       : left;
    outline          : 0;
    box-sizing       : border-box;
    height           : $input-height-base - 2px/$root-font-size; //fix for rem calculate missing 1px
    transition       : all 0.3s linear;
    color            : $input-color;
    background-color : $input-bg;
    border           : 0;
    border-radius    : $border-radius-base;
    padding          : 0 7px;
    display          : block;
    @include placeholder();

    @at-root &[disabled] {
      @include disabled();
    }
  }

  @at-root &-lg {
    padding : 0;

    input {
      height : $input-height-lg - 2px/$root-font-size;
    }
  }

  @at-root &-sm {
    padding : 0;

    input {
      height : $input-height-sm - 2px/$root-font-size;
    }
  }

  @at-root &-handler-wrap {
    border-left   : $border-width-base $border-style-base $border-color-base;
    width         : 22px;
    height        : 100%;
    background    : $component-background;
    position      : absolute;
    top           : 0;
    right         : 0;
    opacity       : 0;
    border-radius : 0 $border-radius-base $border-radius-base 0;
    transition    : opacity 0.24s linear 0.1s;
    z-index       : 2; // https://github.com/ant-design/ant-design/issues/6289
  }

  @at-root &-handler-wrap:hover #{&}-handler {
    height : 40%;
  }

  @at-root &:hover #{&}-handler-wrap {
    opacity : 1;
  }

  @at-root &-handler-up {
    cursor : pointer;
    @at-root &-inner {
      top        : 50%;
      margin-top : -6px;
    }
    @at-root &:hover {
      height : 60% !important;
    }
  }

  @at-root &-handler-down {
    border-top : $border-width-base $border-style-base $border-color-base;
    top        : -1px;
    cursor     : pointer;
    @at-root &-inner {
      top        : 50%;
      margin-top : -6px;
    }
    @at-root &:hover {
      height : 60% !important;
    }
  }

  @at-root &-handler-down-disabled,
  &-handler-up-disabled,
  &-disabled {
    .#{$input-number-prefix-cls}-handler-down-inner,
    .#{$input-number-prefix-cls}-handler-up-inner {
      @include handler-disabled();
    }
  }

  @at-root &-disabled {
    .#{$input-number-prefix-cls}-input {
      opacity          : 0.72;
      cursor           : not-allowed;
      background-color : $disabled-bg;
    }

    .#{$input-number-prefix-cls}-handler-wrap {
      display : none;
    }

    .#{$input-number-prefix-cls}-handler {
      @include handler-disabled();
    }
  }
}
