@import "../../core/themes/default-theme";
@import "../../input/style/input-mixin";

$input-number-prefix-cls : "#{$ant-prefix}-input-number";



.#{$input-number-prefix-cls} {
  @include input();
  margin        : 0;
  padding       : 0;
  //font-size     : $font-size-base;
  //height        : $input-height-base;
  display       : inline-block;
  border-radius : $border-radius-base;
  width         : 80px;

  @at-root &-handler {
    text-align  : center;
    line-height : 0;
    height      : 50%;
    overflow    : hidden;
    position    : relative;
    transition  : all 0.1s linear;
    display     : block;
    width       : 100%;
    font-weight : bold;
    @at-root &:active {
      background : #f4f4f4;
    }
    @at-root &:hover #{&}-up-inner,
    &:hover #{&}-down-inner {
    }
  }

  @at-root &-handler-up-inner,
  &-handler-down-inner {
    @include iconfont-mixin();
    line-height : 12px;
    user-select : none;
    position    : absolute;
    width       : 12px;
    height      : 12px;
    transition  : all 0.1s linear;
    @include iconfont-size-under-12px(7px);
    right       : 4px;
  }

  //theme
  //@at-root &:hover {
  //  @include hover();
  //}
  //
  //@at-root &-focused {
  //  @include active();
  //}
  //
  //@at-root &-disabled {
  //  @include disabled();
  //}

  @at-root &-input {
    width            : 100%;
    text-align       : left;
    outline          : 0;
    box-sizing       : border-box;
    height           : $form-control-height-base - 2px/$root-font-size; //fix for rem calculate missing 1px
    transition       : all 0.3s linear;
    border           : 0;
    border-radius    : $border-radius-base;
    padding          : 0 7px;
    display          : block;
  }

  @at-root &-lg {
    padding : 0;

    input {
      height : $form-control-height-lg - 2px/$root-font-size;
    }
  }

  @at-root &-sm {
    padding : 0;

    input {
      height : $form-control-height-sm - 2px/$root-font-size;
    }
  }

  @at-root &-handler-wrap {
    width         : 22px;
    height        : 100%;
    position      : absolute;
    top           : 0;
    right         : 0;
    opacity       : 0;
    border-radius : 0 $border-radius-base $border-radius-base 0;
    transition    : opacity 0.24s linear 0.1s;
    z-index       : 2;
  }

  @at-root &-handler-wrap:hover #{&}-handler {
    height : 40%;
  }

  @at-root &:hover #{&}-handler-wrap {
    opacity : 1;
  }

  @at-root &-handler-up {
    cursor : pointer;
    @at-root &-inner {
      top        : 50%;
      margin-top : -6px;
    }
    @at-root &:hover {
      height : 60% !important;
    }
  }

  @at-root &-handler-down {
    top        : -1px;
    cursor     : pointer;
    @at-root &-inner {
      top        : 50%;
      margin-top : -6px;
    }
    @at-root &:hover {
      height : 60% !important;
    }
  }
}
