@import "../../core/themes/default.theme";

$tooltip-prefix-cls : "#{$ant-prefix}-tooltip";

// Base class
.#{$tooltip-prefix-cls} {
  position    : absolute;
  z-index     : $zindex-tooltip;
  display     : block;
  visibility  : visible;
  font-size   : $font-size-base;
  line-height : $line-height-base;

  @at-root &-hidden {
    display : none;
  }

  @at-root &-placement-top,
  &-placement-topLeft,
  &-placement-topRight {
    padding-bottom : $tooltip-distance;
  }
  @at-root &-placement-right,
  &-placement-rightTop,
  &-placement-rightBottom {
    padding-left : $tooltip-distance;
  }
  @at-root &-placement-bottom,
  &-placement-bottomLeft,
  &-placement-bottomRight {
    padding-top : $tooltip-distance;
  }
  @at-root &-placement-left,
  &-placement-leftTop,
  &-placement-leftBottom {
    padding-right : $tooltip-distance;
  }
}

// Wrapper for the tooltip content
.#{$tooltip-prefix-cls}-inner {
  max-width        : $tooltip-max-width;
  padding          : 8px 10px;
  color            : $tooltip-color;
  text-align       : left;
  text-decoration  : none;
  background-color : $tooltip-bg;
  border-radius    : $border-radius-base;
  box-shadow       : $box-shadow-base;
  min-height       : 34px;
}

// Arrows
.#{$tooltip-prefix-cls}-arrow {
  position     : absolute;
  width        : 0;
  height       : 0;
  border-color : transparent;
  border-style : solid;
}

.#{$tooltip-prefix-cls} {
  @at-root &-placement-top #{&}-arrow,
  &-placement-topLeft #{&}-arrow,
  &-placement-topRight #{&}-arrow {
    bottom           : $tooltip-distance - $tooltip-arrow-width;
    border-width     : $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color : $tooltip-arrow-color;
  }

  @at-root &-placement-top #{&}-arrow {
    left        : 50%;
    margin-left : -$tooltip-arrow-width;
  }

  @at-root &-placement-topLeft #{&}-arrow {
    left : 16px;
  }

  @at-root &-placement-topRight #{&}-arrow {
    right : 16px;
  }

  @at-root &-placement-right #{&}-arrow,
  &-placement-rightTop #{&}-arrow,
  &-placement-rightBottom #{&}-arrow {
    left               : $tooltip-distance - $tooltip-arrow-width;
    border-width       : $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color : $tooltip-arrow-color;
  }

  @at-root &-placement-right #{&}-arrow {
    top        : 50%;
    margin-top : -$tooltip-arrow-width;
  }

  @at-root &-placement-rightTop #{&}-arrow {
    top : 8px;
  }

  @at-root &-placement-rightBottom #{&}-arrow {
    bottom : 8px;
  }

  @at-root &-placement-left #{&}-arrow,
  &-placement-leftTop #{&}-arrow,
  &-placement-leftBottom #{&}-arrow {
    right             : $tooltip-distance - $tooltip-arrow-width;
    border-width      : $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color : $tooltip-arrow-color;
  }

  @at-root &-placement-left #{&}-arrow {
    top        : 50%;
    margin-top : -$tooltip-arrow-width;
  }

  @at-root &-placement-leftTop #{&}-arrow {
    top : 8px;
  }

  @at-root &-placement-leftBottom #{&}-arrow {
    bottom : 8px;
  }

  @at-root &-placement-bottom #{&}-arrow,
  &-placement-bottomLeft #{&}-arrow,
  &-placement-bottomRight #{&}-arrow {
    top                 : $tooltip-distance - $tooltip-arrow-width;
    border-width        : 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color : $tooltip-arrow-color;
  }

  @at-root &-placement-bottom #{&}-arrow {
    left        : 50%;
    margin-left : -$tooltip-arrow-width;
  }

  @at-root &-placement-bottomLeft #{&}-arrow {
    left : 16px;
  }

  @at-root &-placement-bottomRight #{&}-arrow {
    right : 16px;
  }
}
