@import "./mixin";

$btn-prefix-cls: "#{$ant-prefix}-btn";

// for compatibile
$btn-ghost-color: $text-color;
$btn-ghost-bg: transparent;
$btn-ghost-border: $border-color-base;

// Button styles
// -----------------------------
.#{$btn-prefix-cls} {
  @include btn;
  @include btn-default;

   @at-root &-primary {
    @include btn-primary;

    @at-root .#{$btn-prefix-cls}-group &:not(:first-child):not(:last-child) {
      border-right-color: $btn-group-border;
      border-left-color: $btn-group-border;

       @at-root &:disabled {
        border-color: $btn-default-border;
      }
    }

    @at-root .#{$btn-prefix-cls}-group &:first-child {
       @at-root &:not(:last-child) {
        border-right-color: $btn-group-border;
         @at-root &[disabled] {
          border-right-color: $btn-default-border;
        }
      }
    }

    @at-root
    .#{$btn-prefix-cls}-group &:last-child:not(:first-child),
    .#{$btn-prefix-cls}-group & + & {
      border-left-color: $btn-group-border;
       @at-root &[disabled] {
        border-left-color: $btn-default-border;
      }
    }
  }

   @at-root &-ghost {
    @include btn-ghost;
  }

   @at-root &-dashed {
    @include btn-dashed;
  }

   @at-root &-danger {
    @include btn-danger;
  }

   @at-root &-circle,
    &-circle-outline {
    @include btn-circle($btn-prefix-cls)
  }

   @at-root &:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: #fff;
    opacity: 0.35;
    content: '';
    border-radius: inherit;
    z-index: 1;
    transition: opacity .2s;
    pointer-events: none;
    display: none;
  }

  .#{$iconfont-css-prefix} {
    transition: margin-left .3s $ease-in-out,
  }

   @at-root &#{&}-loading:before {
    display: block;
  }

   @at-root &#{&}-loading:not(#{&}-circle):not(#{&}-circle-outline) {
    padding-left: 29px;
    pointer-events: none;
    position: relative;
    .#{$iconfont-css-prefix} {
      margin-left: -14px;
    }
  }

   @at-root &-sm#{&}-loading:not(#{&}-circle):not(#{&}-circle-outline) {
    padding-left: 24px;
    .#{$iconfont-css-prefix} {
      margin-left: -17px;
    }
  }

   @at-root &-group {
    @include btn-group($btn-prefix-cls);
  }

   @at-root &:not(#{&}-circle):not(#{&}-circle-outline)#{&+'-icon-only'} {
    padding-left: 8px;
    padding-right: 8px;
  }

  // http://stackoverflow.com/a/21281554/3040605
   @at-root &:focus > span,
    &:active > span {
    position: relative;
  }

  // To ensure that a space will be placed between character and `Icon`.
  > .#{$iconfont-css-prefix} + span,
  > span + .#{$iconfont-css-prefix} {
    margin-left: 0.5em;
  }

   @at-root &-clicked:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: inherit;
    border: 0 solid $primary-color;
    opacity: 0.4;
    animation: buttonEffect .4s;
    display: block;
  }

   @at-root &-danger#{&}-clicked:after {
    border-color: $btn-danger-color;
  }

   @at-root &-background-ghost {
    background: transparent !important;
    border-color: #fff;
    color: #fff;
  }

   @at-root &-background-ghost#{&}-primary {
    @include button-variant-ghost($primary-color);
  }

   @at-root &-background-ghost#{&}-danger {
    @include button-variant-ghost($btn-danger-color);
  }
}

@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
