<div class="options">
  <a class="source-code-button"
     href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/dynamicWidgets"
     triRaisedButton target="_blank">
     <tri-icon svgIcon="outline:fork"></tri-icon>
    Source
  </a>
<!--  <markdown [src]="'assets/dynamicWidgets.md'"></markdown>-->
</div>


<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <app-parent-dynamic [widget]="item" [resizeEvent]="resizeEvent"></app-parent-dynamic>
  </gridster-item>
</gridster>
