@import "../../core/themes/default-theme";

$progress-height               : 1rem !default;
$progress-font-size            : ($font-size-base * .75) !default;
$progress-bg                   : $gray-200 !default;
$progress-border-radius        : $border-radius-base !default;
$progress-box-shadow           : inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color            : $white !default;
$progress-bar-bg               : $primary-color !default;
$progress-bar-animation-timing : 1s linear infinite !default;
$progress-bar-transition       : width .6s ease !default;

$progress-abc-prefix-cls       : "#{$ant-prefix}-progress-abc" !default;

@keyframes #{$ant-prefix}-progress-bar-stripes {
  from {
    background-position : $progress-height 0;
  }
  to {
    background-position : 0 0;
  }
}

.#{$progress-abc-prefix-cls} {
  display          : flex;
  height           : $progress-height;
  overflow         : hidden; // force rounded corners by cropping it
  font-size        : $progress-font-size;
  background-color : $progress-bg;
  border           : 0.5px solid rgba(226, 226, 226, 0.35);
  @include border-radius($progress-border-radius);
  @include box-shadow($progress-box-shadow);

  @at-root #{&}-bar {
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    color            : $progress-bar-color;
    text-align       : center;
    white-space      : nowrap;
    background-color : $progress-bar-bg;
    @include transition($progress-bar-transition);
  }

  @at-root #{&}-bar-striped {
    @include gradient-striped();
    background-size : $progress-height $progress-height;
  }

  @at-root #{&}-bar-animated {
    animation : #{$ant-prefix}-progress-bar-stripes $progress-bar-animation-timing;
  }

}
