@import "../../core/themes/default-theme";
@import '../../core/style/legend/menu-common';

$input-prefix-cls                    : #{$ant-prefix}-input;
$select-prefix-cls                   : #{$ant-prefix}-select;
$autocomplete-prefix-cls             : #{$ant-prefix}-autocomplete;

$autocomplete-background-color-light : hsl(0, 0, 98%); // background of header and selected item
$autocomplete-background-color-base  : hsl(0, 0, 96%); // Default grey background color

@mixin tri-autocomplete-theme($theme) {
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);

  .#{$autocomplete-prefix-cls}-panel {
    //theme
    background-color : tri-color($background, component-background);
    color            : $autocomplete-background-color-light;
    box-shadow       : $box-shadow-base;
  }

}
