<section>
  <tri-splitter class="splitter-border" style="height: 500px" orientation="vertical">
    <tri-splitter-pane size="400px" minSize="100px" (sizeChange)="sizeChange($event)">
      <tri-splitter style="height: 100%">
        <tri-splitter-pane size="30%" minSize="20%" (sizeChange)="sizeChange($event)">
          <div class="pane-content">
            <h2>Left</h2>
            <div>width: 30%, min-width: 20%</div>
          </div>
        </tri-splitter-pane>
        <tri-splitter-pane minSize="15%">
          <tri-splitter style="height: 100%" orientation="vertical">
            <tri-splitter-pane size="50%" style="overflow: hidden">
              <div class="pane-content">
                <h2>Top</h2>
                <div>height: 50%</div>
              </div>
            </tri-splitter-pane>
            <tri-splitter-pane style="overflow: hidden">
              <div class="pane-content">
                <h2>Bottom</h2>
                <div>height: auto</div>
              </div>
            </tri-splitter-pane>
          </tri-splitter>
        </tri-splitter-pane>
      </tri-splitter>
    </tri-splitter-pane>
    <tri-splitter-pane style="overflow: hidden">
      <div class="pane-content">
        <h2>Bottom</h2>
        <div>height: auto</div>
      </div>
    </tri-splitter-pane>
  </tri-splitter>
</section>
