@use "sass:color";
@use "sass:map";
@use "./vendor-prefixes";
@use "../variables" as v;
@use "../functions";
@use "../contrast";
@use "../mixins/border-radius";
@use "../mixins/box-shadow";
@use "../mixins/gradients";
@use "../mixins/size";
@use "../mixins/rfs";
@use "../theming";

@use "../../themes/theme";

$btn-font-weight        : v.$font-weight-normal !default;
$btn-border-radius-base : v.$border-radius-base !default;
$btn-border-radius-sm   : v.$border-radius-base !default;

$btn-height-base        : 2rem !default;
$btn-height-lg          : 2.25rem !default;
$btn-height-sm          : 1.75rem !default;

$btn-padding-x-lg       : 1.125rem !default;
$btn-padding-y-lg       : 0.375rem !default;
$btn-font-size-lg       : v.$font-size-lg !default;
$btn-line-height-lg     : 1 !default;

$btn-padding-x-base     : 1rem !default;
$btn-padding-y-base     : 0.3125rem !default;
$btn-font-size-base     : v.$font-size-base !default;
$btn-line-height-base   : 1 !default;

$btn-padding-x-sm       : 0.5rem !default;
$btn-padding-y-sm       : 0.25rem !default;
$btn-font-size-sm       : v.$font-size-sm !default;
$btn-line-height-sm     : 1 !default;

$btn-circle-size        : $btn-height-base !default;
$btn-circle-size-lg     : $btn-height-lg !default;
$btn-circle-size-sm     : $btn-height-sm !default;

$btn-box-shadow         : 0 !default;
$btn-active-box-shadow  : none !default;
$btn-focus-width        : 2px !default;

$btn-primary-color      : green !default;
$btn-primary-bg         : grey !default;

// Mixin overriding default button styles like the gray background, the border, and the outline.
@mixin tri-button-reset {
  @include vendor-prefixes.user-select(none);
  cursor                      : pointer;
  outline                     : none;
  border                      : none;
  -webkit-tap-highlight-color : transparent;
}

// mixins for button
// ------------------------
@mixin button-size($btn-height, $padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding     : $padding-y $padding-x;
  height      : $btn-height;
  line-height : $line-height;

  @include rfs.font-size($font-size);
  @include border-radius.border-radius($border-radius);
}

@mixin button-color($color, $background, $border) {
  color            : $color;
  background-color : $background;
  border-color     : $border;

  > a:only-child {
    color : currentColor;

    &:after {
      content    : "";
      position   : absolute;
      top        : 0;
      left       : 0;
      bottom     : 0;
      right      : 0;
      background : transparent;
    }
  }
}

@mixin button-group-base($btnClassName) {
  position : relative;
  display  : inline-flex;
  > .#{$btnClassName} {
    position : relative;
    z-index  : 1;

    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index : 2;
    }

    &:disabled {
      z-index : 0;
    }
  }

  // size
  &-lg > .#{$btnClassName} {
    @include button-size(
        $btn-height-lg,
        $btn-padding-y-lg,
        $btn-padding-x-lg,
        $btn-font-size-lg,
        $btn-line-height-lg,
        $btn-border-radius-base
    );
  }

  &-sm > .#{$btnClassName} {
    @include button-size(
        $btn-height-sm,
        $btn-padding-y-sm,
        $btn-padding-x-sm,
        $btn-font-size-sm,
        $btn-line-height-sm,
        $btn-border-radius-sm
    );

    > .#{ v.$iconfont-css-prefix} {
      font-size : v.$font-size-base,
    }
  }
}

// Base styles of buttons
// --------------------------------------------------
@mixin btn() {
  display          : inline-block;
  margin-bottom    : 0;
  font-weight      : v.$font-weight-normal;
  text-align       : center;
  touch-action     : manipulation;
  cursor           : pointer;
  background-image : none;
  //border           : v.$border-width-base v.$border-style-base transparent;
  white-space      : nowrap;
  @include button-size(
      $btn-height-base,
      $btn-padding-y-base,
      $btn-padding-x-base,
      $btn-font-size-base,
      $btn-line-height-base,
      $btn-border-radius-base
  );
  user-select      : none;
  vertical-align   : middle;
  transition       : all .1s v.$ease-in-out;
  position         : relative;

  > .#{ v.$iconfont-css-prefix} {
    line-height : 1;
  }

  &,
  &:active,
  &:focus {
    outline : 0;
  }

  &:not([disabled]):hover {
    text-decoration : none;
  }

  &:not([disabled]):active {
    outline    : 0;
    transition : none;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & { // stylelint-disable-line selector-no-qualifying-type
    cursor         : not-allowed;
    pointer-events : none;
    opacity        : 0.65;
    @include box-shadow.box-shadow(none);
  }

  &-lg {
    @include button-size(
        $btn-height-lg,
        $btn-padding-y-lg,
        $btn-padding-x-lg,
        $btn-font-size-lg,
        $btn-line-height-lg,
        $btn-border-radius-base
    );
  }

  &-sm {
    @include button-size(
        $btn-height-sm,
        $btn-padding-y-sm,
        $btn-padding-x-sm,
        $btn-font-size-sm,
        $btn-line-height-sm,
        $btn-border-radius-sm
    );
  }

  //& + & {
  //  margin-left: 4px;
  //  margin-top: 4px;
  //}
}

// primary button style
@mixin btn-primary() {
  @include button-variant-primary($btn-primary-color, $btn-primary-bg);
}

// default button style
@mixin btn-default() {
  $foreground : theme.$foreground;
  $background : theme.$background;
  $primary    : theme.$primary;

  @include button-variant-other(
      theming.tri-color($foreground, text-color),
      theming.tri-color($background, component-background),
      theming.tri-color($foreground, border-color-base),
      theming.tri-color($primary)
  );
  &:hover,
  &:focus,
  &:active,
  &.active {
    background : #fff;
  }
}


// circle button: the content only contains icon
@mixin btn-circle($btnClassName: btn) {
  @include size.square($btn-circle-size);
  @include button-size($btn-circle-size,
    0, 0, $btn-font-size-base, $btn-line-height-base, 50%);

  &.#{$btnClassName}-lg {
    @include size.square($btn-circle-size-lg);
    @include button-size($btn-circle-size-lg,
      0, 0, $btn-font-size-lg * 1.125, $btn-line-height-lg, 50%);
  }

  &.#{$btnClassName}-sm {
    @include size.square($btn-circle-size-sm);
    @include button-size($btn-circle-size-sm,
      0, 0, $btn-font-size-sm, $btn-line-height-sm, 50%);
  }
}

// Horizontal button groups styl
// --------------------------------------------------
@mixin btn-group($btnClassName: btn) {
  @include button-group-base($btnClassName);

  .#{$btnClassName} + .#{$btnClassName},
  .#{$btnClassName} + &,
  & + .#{$btnClassName},
  & + & {
    margin-left : -1px;
  }

  .#{$btnClassName}:not(:first-child):not(:last-child) {
    border-radius : 0;
    padding-left  : 8px;
    padding-right : 8px;
  }

  > .#{$btnClassName}:first-child {
    margin-left : 0;

    &:not(:last-child) {
      border-bottom-right-radius : 0;
      border-top-right-radius    : 0;
      padding-right              : 8px;
    }
  }

  > .#{$btnClassName}:last-child:not(:first-child) {
    border-bottom-left-radius : 0;
    border-top-left-radius    : 0;
    padding-left              : 8px;
  }

  & > & {
    float : left;
  }

  & > &:not(:first-child):not(:last-child) > .#{$btnClassName} {
    border-radius : 0;
  }

  & > &:first-child:not(:last-child) {
    > .#{$btnClassName}:last-child {
      border-bottom-right-radius : 0;
      border-top-right-radius    : 0;
      padding-right              : 8px;
    }
  }

  & > &:last-child:not(:first-child) > .#{$btnClassName}:first-child {
    border-bottom-left-radius : 0;
    border-top-left-radius    : 0;
    padding-left              : 8px;
  }
}


// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant(
  $background,
  $border-color,
  $color: contrast.color-contrast($background),
  $hover-background: color.adjust($background, $lightness: -7.5%),
  $hover-border: color.adjust($border-color, $lightness: -10%),
  $hover-color: contrast.color-contrast($hover-background),
  $active-background: color.adjust($background, $lightness: -10%),
  $active-border: color.adjust($border-color, $lightness: -12.5%),
  $active-color: contrast.color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border-color,
  $disabled-color: $color,
) {
  color        : $color;
  @include gradients.gradient-bg($background);
  border : v.$border-width-base v.$border-style-base $border-color;
  @include box-shadow.box-shadow($btn-box-shadow);

  &:hover {
    color        : $hover-color;
    @include gradients.gradient-bg($hover-background);
    border-color : $hover-border;
  }

  &:focus,
  &.focus {
    color        : $hover-color;
    @include gradients.gradient-bg($hover-background);
    border-color : $hover-border;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if v.$enable-shadows {
      box-shadow : $btn-box-shadow, 0 0 0 $btn-focus-width rgba(color.mix($color, $border-color, 15%), .5);
    } @else {
      box-shadow : 0 0 0 $btn-focus-width rgba(color.mix($color, $border-color, 15%), .5);
    }
  }

  &:active,
  &.active {
    color            : $active-color;
    background-color : $active-background;
    // Remove CSS gradients if they're enabled
    background-image : if(v.$enable-gradients, none, null);
    border-color     : $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if v.$enable-shadows and $btn-active-box-shadow != none {
        box-shadow : $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(color.mix($color, $border-color, 15%), .5);
      } @else {
        box-shadow : 0 0 0 $btn-focus-width rgba(color.mix($color, $border-color, 15%), .5);
      }
    }
  }

  &:disabled,
  &.disabled {
    color            : $disabled-color;
    background-color : $disabled-background;
    // Remove CSS gradients if they're enabled
    background-image : if(v.$enable-gradients, none, null);
    border-color     : $disabled-border;
  }
}

@mixin button-outline-variant(
  $color,
  $color-hover: contrast.color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: contrast.color-contrast($active-background)
) {
  color        : $color;
  border-color : $color;

  &:hover {
    color            : $color-hover;
    background-color : $active-background;
    border-color     : $active-border;
  }

  &:focus,
  &.focus {
    box-shadow : 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &:active,
  &.active,
  &.dropdown-toggle.show {
    color            : $active-color;
    background-color : $active-background;
    border-color     : $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if v.$enable-shadows and $btn-active-box-shadow != none {
        box-shadow : $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5);
      } @else {
        box-shadow : 0 0 0 $btn-focus-width rgba($color, .5);
      }
    }
  }

  &:disabled,
  &.disabled {
    color            : $color;
    background-color : transparent;
  }
}


// button variant mixin

@mixin button-variant-primary($color, $background, $border-color: $background) {
  @include button-variant(
      $background,
      $border-color,
      $color,
      theming.tri-color-palette($background, 5),
      theming.tri-color-palette($background, 5), //$hover-border,
      $color, //$hover-color,
      theming.tri-color-palette($border-color, 7), //$active-background,
      theming.tri-color-palette($border-color, 7) //$active-border,
      $color, //$active-color
  );
}

@mixin button-variant-danger($color, $background, $border-color, $primary-color) {
  @include button-variant(
      $background,
      $border-color,
      $color,
      $color, //$hover-background
      $color, //$hover-border,
      $primary-color, //$hover-color,
      theming.tri-color-palette($color, 7), //$active-background,
      theming.tri-color-palette($color, 7) //$active-border,
      $primary-color, //$active-color
  );
}

@mixin button-variant-ghost($color) {
  @include button-variant(
      transparent,
      $color,
      $color,
      transparent,
      theming.tri-color-palette($color, 5), //$hover-border,
      theming.tri-color-palette($color, 5), //$hover-color,
      transparent, //$active-background,
      theming.tri-color-palette($color, 7) //$active-border,
      theming.tri-color-palette($color, 7), //$active-color
  );
}

@mixin button-variant-other($color, $background, $border-color, $primary-color) {
  @include button-variant(
      $background,
      $border-color,
      $color,
      $background,
      $primary-color, //$hover-border,
      $primary-color, //$hover-color,
      theming.tri-color-palette($border-color, 7), //$active-background,
      theming.tri-color-palette($border-color, 7) //$active-border,
      $color, //$active-color
  );
}


@mixin btn-group-border(
  $btn-group-class: btn-group,
  $btn-group-border,
  $btn-default-border
) {
  @at-root #{$btn-group-class} &:not(:first-child):not(:last-child) {
    border-right-color : $btn-group-border;
    border-left-color  : $btn-group-border;

    @at-root &:disabled {
      border-color : $btn-default-border;
    }
  }

  @at-root #{$btn-group-class} &:first-child {
    @at-root &:not(:last-child) {
      border-right-color : $btn-group-border;
      @at-root &[disabled] {
        border-right-color : $btn-default-border;
      }
    }
  }

  @at-root
  #{$btn-group-class} &:last-child:not(:first-child),
  #{$btn-group-class} & + & {
    border-left-color : $btn-group-border;
    @at-root &[disabled] {
      border-left-color : $btn-default-border;
    }
  }
}

