@import "../../core/style/themes/default.theme";

$switch-prefix-cls             : "#{$ant-prefix}-switch";
$switch-duration               : .36s;

$switch-height                 : 1.5rem;
$switch-line-height            : $switch-height / $font-size-base;
$switch-inner-height           : $switch-height - 4px/$root-font-size;
$switch-inner-padding-x        : ($switch-height - $switch-inner-height)/2;
$switch-inner-padding-y        : ($switch-height - $switch-inner-height)/2;

$switch-height-sm              : 1.35rem;
$switch-line-height-sm         : $switch-height-sm * 0.9;
$switch-inner-height-sm        : $switch-height-sm - 2px/$root-font-size;
$switch-inner-padding-x-sm     : 1px/$root-font-size * 1rem;
$switch-inner-padding-y-sm     : ($switch-height-sm - $switch-inner-height-sm)/2;

$switch-inner-active-scalar    : 1.5;
$switch-inner-active-scalar-sm : 1.25;

.#{$switch-prefix-cls} {
  position         : relative;
  display          : inline-block;
  box-sizing       : border-box;
  height           : $switch-height;
  min-width        : $switch-height*2;
  vertical-align   : middle;
  border-radius    : $switch-height / 2;
  //border: 1px solid transparent;
  background-color : $disabled-color;
  cursor           : pointer;
  transition       : all $switch-duration;
  user-select      : none;

  @at-root &-inner {
    color        : #fff;
    font-size    : $font-size-base;
    line-height  : $switch-line-height;
    margin-left  : $switch-inner-height + $switch-inner-padding-x*2;
    margin-right : .375rem;
    display      : block;
  }

  @at-root &:after {
    position         : absolute;
    @include square($switch-inner-height);
    left             : $switch-inner-padding-x;
    top              : $switch-inner-padding-y;

    border-radius    : $switch-inner-height / 2;
    background-color : $component-background;
    content          : " ";
    cursor           : pointer;
    transition       : all $switch-duration $ease-in-out-circ;
  }

  @at-root &:active:after {
    width : $switch-inner-height*$switch-inner-active-scalar
  }

  @at-root &:focus {
    box-shadow : 0 0 0 2px rgba($primary-color, 0.20);
    outline    : 0;
  }

  @at-root &:focus:active {
    box-shadow : none;
  }

  @at-root &-checked {
    background-color : $primary-color;

    .#{$switch-prefix-cls}-inner {
      margin-left  : 0.375rem;
      margin-right : $switch-inner-height + $switch-inner-padding-x*2;
    }

    @at-root &:after {
      left        : 100%;
      margin-left : - ($switch-inner-height + $switch-inner-padding-x);
    }

    @at-root &:active:after {
      margin-left : - ($switch-inner-height*$switch-inner-active-scalar + $switch-inner-padding-x);
    }
  }

  @at-root &-disabled {
    cursor     : not-allowed;
    background : #f4f4f4;


    @at-root &:after {
      background : #ccc;
      cursor     : not-allowed;
    }

    @at-root &.#{$switch-prefix-cls}-checked {
      background : color-palette($primary-color, 4);
      @at-root &:after {
        background : #f4f4f4;
      }
    }

    .#{$switch-prefix-cls}-inner {
      color : $disabled-color;
    }
  }

  @at-root &-small {
    height    : $switch-height-sm;
    min-width : $switch-height-sm*2;

    .#{$switch-prefix-cls}-inner {
      line-height  : $switch-line-height-sm;
      margin-left  : $switch-inner-height-sm + $switch-inner-padding-x-sm*2;
      margin-right : .1875rem;
    }

    @at-root &:after {
      @include square($switch-inner-height-sm);
      top  : $switch-inner-padding-y-sm;
      left : $switch-inner-padding-x-sm;
    }

    @at-root &:active:after {
      width : $switch-inner-height-sm*$switch-inner-active-scalar-sm;
    }
  }

  @at-root &-small#{&}-checked {
    @at-root &:after {
      left        : 100%;
      margin-left : - ($switch-inner-height-sm + $switch-inner-padding-x-sm);
    }

    .#{$switch-prefix-cls}-inner {
      margin-left  : .1875rem;
      margin-right : $switch-inner-height-sm + $switch-inner-padding-x-sm*2;
    }
  }

  @at-root &-small:active#{&}-checked:after {
    margin-left : - ($switch-inner-height-sm*$switch-inner-active-scalar-sm + $switch-inner-padding-x-sm);
  }
}
