<tri-tree-node *ngFor="let child of viewportNodes; let i = index; trackBy: trackNode"
               [class.tree-node-active]="child.isActive"
               [class.tree-node-collapsed]="child.isCollapsed"
               [class.tree-node-expanded]="child.isExpanded"
               [class.tree-node-focused]="child.isFocused"
               [class.tree-node-leaf]="child.isLeaf"
               [index]="i"
               [ngClass]="[options.nodeClass!(child), 'tree-node-level-'+ child.level]"
               [node]="child"
               [options]="options"
               [templates]="templates">
</tri-tree-node>

<tri-tree-loading *ngIf="!node.children"
                  [node]="node"
                  [style.padding-left]="options.levelPadding!(node)"
                  [template]="templates.loadingTemplate"></tri-tree-loading>
