@use "../style/variables" as v;
//@use "../style/mixins";
@use "../style/theming";


$primary   : theming.tri-palette(v.$tri-indigo) !default;
$secondary : theming.tri-palette(v.$tri-gray, A200, A100, A400) !default;
$info      : theming.tri-palette(v.$tri-blue) !default;
$success   : theming.tri-palette(v.$tri-green) !default;
$error     : theming.tri-palette(v.$tri-red) !default;
$highlight : theming.tri-palette(v.$tri-red) !default;
$warning   : theming.tri-palette(v.$tri-yellow) !default;
$is-dark   : false !default;

$foreground: v.$tri-light-theme-foreground;
$background: v.$tri-light-theme-background;