@use "./mixins";


// font-face
// $icon-url： 字体源文件的地址
@font-face {
  font-family : "anticon";
  src         : url("#{mixins.$icon-url}.eot"); /* IE9*/
  src         : /* IE6-IE8 */
    url("#{mixins.$icon-url}.eot?#iefix") format("embedded-opentype"),
      /* chrome、firefox */
    url("#{mixins.$icon-url}.woff") format("woff"),
      /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("#{mixins.$icon-url}.ttf") format("truetype"),
      /* iOS 4.1- */
    url("#{mixins.$icon-url}.svg#iconfont") format("svg");
}

.#{v.$iconfont-css} {
  @include mixins.iconfont-mixin();
}

.#{v.$iconfont-css}-step-forward:before {
  content : "\e600";
}

.#{v.$iconfont-css}-step-backward:before {
  content : "\e601";
}

.#{v.$iconfont-css}-forward:before {
  content : "\e602";
}

.#{v.$iconfont-css}-backward:before {
  content : "\e603";
}

.#{v.$iconfont-css}-caret-right:before {
  content : "\e604";
}

.#{v.$iconfont-css}-caret-left:before {
  content : "\e605";
}

.#{v.$iconfont-css}-caret-down:before {
  content : "\e606";
}

.#{v.$iconfont-css}-caret-up:before {
  content : "\e607";
}

.#{v.$iconfont-css}-right-circle:before {
  content : "\e608";
}

.#{v.$iconfont-css}-circle-right:before {
  content : "\e608";
}

// antd$1.x compatibility alias: right-circle
.#{v.$iconfont-css}-caret-circle-right:before {
  content : "\e608";
}

// antd$1.x compatibility alias: right-circle
.#{v.$iconfont-css}-left-circle:before {
  content : "\e609";
}

.#{v.$iconfont-css}-circle-left:before {
  content : "\e609";
}

// antd$1.x compatibility alias: left-circle
.#{v.$iconfont-css}-caret-circle-left:before {
  content : "\e609";
}

// antd$1.x compatibility alias: left-circle
.#{v.$iconfont-css}-up-circle:before {
  content : "\e60a";
}

.#{v.$iconfont-css}-circle-up:before {
  content : "\e60a";
}

// antd$1.x compatibility alias: up-circle
.#{v.$iconfont-css}-caret-circle-up:before {
  content : "\e60a";
}

// antd$1.x compatibility alias: up-circle
.#{v.$iconfont-css}-down-circle:before {
  content : "\e60b";
}

.#{v.$iconfont-css}-circle-down:before {
  content : "\e60b";
}

// antd$1.x compatibility alias: down-circle
.#{v.$iconfont-css}-caret-circle-down:before {
  content : "\e60b";
}

// antd$1.x compatibility alias: down-circle
.#{v.$iconfont-css}-right-circle-o:before {
  content : "\e60c";
}

.#{v.$iconfont-css}-circle-o-right:before {
  content : "\e60c";
}

// antd$1.x compatibility alias: right-circle-o
.#{v.$iconfont-css}-caret-circle-o-right:before {
  content : "\e60c";
}

// antd$1.x compatibility alias: right-circle-o
.#{v.$iconfont-css}-left-circle-o:before {
  content : "\e60d";
}

.#{v.$iconfont-css}-circle-o-left:before {
  content : "\e60d";
}

// antd$1.x compatibility alias: left-circle-o
.#{v.$iconfont-css}-caret-circle-o-left:before {
  content : "\e60d";
}

// antd$1.x compatibility alias: left-circle-o
.#{v.$iconfont-css}-up-circle-o:before {
  content : "\e60e";
}

.#{v.$iconfont-css}-circle-o-up:before {
  content : "\e60e";
}

// antd$1.x compatibility alias: up-circle-o
.#{v.$iconfont-css}-caret-circle-o-up:before {
  content : "\e60e";
}

// antd$1.x compatibility alias: up-circle-o
.#{v.$iconfont-css}-down-circle-o:before {
  content : "\e60f";
}

.#{v.$iconfont-css}-circle-o-down:before {
  content : "\e60f";
}

// antd$1.x compatibility alias: down-circle-o
.#{v.$iconfont-css}-caret-circle-o-down:before {
  content : "\e60f";
}

// antd$1.x compatibility alias: down-circle-o
.#{v.$iconfont-css}-verticle-left:before {
  content : "\e610";
}

.#{v.$iconfont-css}-verticle-right:before {
  content : "\e611";
}

.#{v.$iconfont-css}-rollback:before {
  content : "\e612";
}

.#{v.$iconfont-css}-retweet:before {
  content : "\e613";
}

.#{v.$iconfont-css}-shrink:before {
  content : "\e614";
}

.#{v.$iconfont-css}-arrows-alt:before {
  content : "\e615";
}

.#{v.$iconfont-css}-arrow-salt:before {
  content : "\e615";
}

// antd$1.x compatibility alias: arrows-alt
.#{v.$iconfont-css}-reload:before {
  content : "\e616";
}

.#{v.$iconfont-css}-double-right:before {
  content : "\e617";
}

.#{v.$iconfont-css}-double-left:before {
  content : "\e618";
}

.#{v.$iconfont-css}-arrow-down:before {
  content : "\e619";
}

.#{v.$iconfont-css}-arrow-up:before {
  content : "\e61a";
}

.#{v.$iconfont-css}-arrow-right:before {
  content : "\e61b";
}

.#{v.$iconfont-css}-arrow-left:before {
  content : "\e61c";
}

.#{v.$iconfont-css}-down:before {
  content : "\e61d";
}

.#{v.$iconfont-css}-up:before {
  content : "\e61e";
}

.#{v.$iconfont-css}-right:before {
  content : "\e61f";
}

.#{v.$iconfont-css}-left:before {
  content : "\e620";
}

.#{v.$iconfont-css}-minus-square-o:before {
  content : "\e621";
}

.#{v.$iconfont-css}-minus-circle:before {
  content : "\e622";
}

.#{v.$iconfont-css}-minus-circle-o:before {
  content : "\e623";
}

.#{v.$iconfont-css}-minus:before {
  content : "\e624";
}

.#{v.$iconfont-css}-plus-circle-o:before {
  content : "\e625";
}

.#{v.$iconfont-css}-plus-circle:before {
  content : "\e626";
}

.#{v.$iconfont-css}-plus:before {
  content : "\e627";
}

.#{v.$iconfont-css}-info-circle:before {
  content : "\e628";
}

.#{v.$iconfont-css}-info-circle-o:before {
  content : "\e629";
}

.#{v.$iconfont-css}-info:before {
  content : "\e62a";
}

.#{v.$iconfont-css}-exclamation:before {
  content : "\e62b";
}

.#{v.$iconfont-css}-exclamation-circle:before {
  content : "\e62c";
}

.#{v.$iconfont-css}-exclamation-circle-o:before {
  content : "\e62d";
}

.#{v.$iconfont-css}-close-circle:before {
  content : "\e62e";
}

.#{v.$iconfont-css}-close-circle:before {
  content : "\e62e";
}

// antd$1.x compatibility alias: close-circle
.#{v.$iconfont-css}-close-circle-o:before {
  content : "\e62f";
}

.#{v.$iconfont-css}-close-circle-o:before {
  content : "\e62f";
}

// antd$1.x compatibility alias: close-circle-o
.#{v.$iconfont-css}-check-circle:before {
  content : "\e630";
}

.#{v.$iconfont-css}-check-circle-o:before {
  content : "\e631";
}

.#{v.$iconfont-css}-check:before {
  content : "\e632";
}

.#{v.$iconfont-css}-close:before {
  content : "\e633";
}

.#{v.$iconfont-css}-cross:before {
  content : "\e633";
}

// antd$1.x compatibility alias: close
.#{v.$iconfont-css}-customer-service:before {
  content : "\e634";
}

.#{v.$iconfont-css}-customerservice:before {
  content : "\e634";
}

// antd$1.x compatibility alias: customer-service
.#{v.$iconfont-css}-credit-card:before {
  content : "\e635";
}

.#{v.$iconfont-css}-code-o:before {
  content : "\e636";
}

.#{v.$iconfont-css}-book:before {
  content : "\e637";
}

.#{v.$iconfont-css}-bar-chart:before {
  content : "\e638";
}

.#{v.$iconfont-css}-bars:before {
  content : "\e639";
}

.#{v.$iconfont-css}-question:before {
  content : "\e63a";
}

.#{v.$iconfont-css}-question-circle:before {
  content : "\e63b";
}

.#{v.$iconfont-css}-question-circle-o:before {
  content : "\e63c";
}

.#{v.$iconfont-css}-pause:before {
  content : "\e63d";
}

.#{v.$iconfont-css}-pause-circle:before {
  content : "\e63e";
}

.#{v.$iconfont-css}-pause-circle-o:before {
  content : "\e63f";
}

.#{v.$iconfont-css}-clock-circle:before {
  content : "\e640";
}

.#{v.$iconfont-css}-clock-circle-o:before {
  content : "\e641";
}

.#{v.$iconfont-css}-swap:before {
  content : "\e642";
}

.#{v.$iconfont-css}-swap-left:before {
  content : "\e643";
}

.#{v.$iconfont-css}-swap-right:before {
  content : "\e644";
}

.#{v.$iconfont-css}-plus-square-o:before {
  content : "\e645";
}

.#{v.$iconfont-css}-frown:before {
  content : "\e646";
}

.#{v.$iconfont-css}-frown-circle:before {
  content : "\e646";
}

// antd$1.x compatibility alias: frown
.#{v.$iconfont-css}-ellipsis:before {
  content : "\e647";
}

.#{v.$iconfont-css}-copy:before {
  content : "\e648";
}

.#{v.$iconfont-css}-menu-fold:before {
  content : "\e658";
}

.#{v.$iconfont-css}-mail:before {
  content : "\e659";
}

.#{v.$iconfont-css}-logout:before {
  content : "\e65a";
}

.#{v.$iconfont-css}-link:before {
  content : "\e65b";
}

.#{v.$iconfont-css}-area-chart:before {
  content : "\e65c";
}

.#{v.$iconfont-css}-line-chart:before {
  content : "\e65d";
}

.#{v.$iconfont-css}-home:before {
  content : "\e65e";
}

.#{v.$iconfont-css}-laptop:before {
  content : "\e65f";
}

.#{v.$iconfont-css}-star:before {
  content : "\e660";
}

.#{v.$iconfont-css}-star-o:before {
  content : "\e661";
}

.#{v.$iconfont-css}-folder:before {
  content : "\e662";
}

.#{v.$iconfont-css}-filter:before {
  content : "\e663";
}

.#{v.$iconfont-css}-file:before {
  content : "\e664";
}

.#{v.$iconfont-css}-exception:before {
  content : "\e665";
}

.#{v.$iconfont-css}-meh:before {
  content : "\e666";
}

.#{v.$iconfont-css}-meh-circle:before {
  content : "\e666";
}

// antd$1.x compatibility alias: meh
.#{v.$iconfont-css}-meh-o:before {
  content : "\e667";
}

.#{v.$iconfont-css}-shopping-cart:before {
  content : "\e668";
}

.#{v.$iconfont-css}-save:before {
  content : "\e669";
}

.#{v.$iconfont-css}-user:before {
  content : "\e66a";
}

.#{v.$iconfont-css}-video-camera:before {
  content : "\e66b";
}

.#{v.$iconfont-css}-to-top:before {
  content : "\e66c";
}

.#{v.$iconfont-css}-team:before {
  content : "\e66d";
}

.#{v.$iconfont-css}-tablet:before {
  content : "\e66e";
}

.#{v.$iconfont-css}-solution:before {
  content : "\e66f";
}

.#{v.$iconfont-css}-search:before {
  content : "\e670";
}

.#{v.$iconfont-css}-share-alt:before {
  content : "\e671";
}

.#{v.$iconfont-css}-setting:before {
  content : "\e672";
}

.#{v.$iconfont-css}-poweroff:before {
  content : "\e6d5";
}

.#{v.$iconfont-css}-picture:before {
  content : "\e674";
}

.#{v.$iconfont-css}-phone:before {
  content : "\e675";
}

.#{v.$iconfont-css}-paper-clip:before {
  content : "\e676";
}

.#{v.$iconfont-css}-notification:before {
  content : "\e677";
}

.#{v.$iconfont-css}-mobile:before {
  content : "\e678";
}

.#{v.$iconfont-css}-menu-unfold:before {
  content : "\e679";
}

.#{v.$iconfont-css}-inbox:before {
  content : "\e67a";
}

.#{v.$iconfont-css}-lock:before {
  content : "\e67b";
}

.#{v.$iconfont-css}-qrcode:before {
  content : "\e67c";
}

.#{v.$iconfont-css}-play-circle:before {
  content : "\e6d0";
}

.#{v.$iconfont-css}-play-circle-o:before {
  content : "\e6d1";
}

.#{v.$iconfont-css}-tag:before {
  content : "\e6d2";
}

.#{v.$iconfont-css}-tag-o:before {
  content : "\e6d3";
}

.#{v.$iconfont-css}-tags:before {
  content : "\e67d";
}

.#{v.$iconfont-css}-tags-o:before {
  content : "\e67e";
}

.#{v.$iconfont-css}-cloud-o:before {
  content : "\e67f";
}

.#{v.$iconfont-css}-cloud:before {
  content : "\e680";
}

.#{v.$iconfont-css}-cloud-upload:before {
  content : "\e681";
}

.#{v.$iconfont-css}-cloud-download:before {
  content : "\e682";
}

.#{v.$iconfont-css}-cloud-download-o:before {
  content : "\e683";
}

.#{v.$iconfont-css}-cloud-upload-o:before {
  content : "\e684";
}

.#{v.$iconfont-css}-environment:before {
  content : "\e685";
}

.#{v.$iconfont-css}-environment-o:before {
  content : "\e686";
}

.#{v.$iconfont-css}-eye:before {
  content : "\e687";
}

.#{v.$iconfont-css}-eye-o:before {
  content : "\e688";
}

.#{v.$iconfont-css}-camera:before {
  content : "\e689";
}

.#{v.$iconfont-css}-camera-o:before {
  content : "\e68a";
}

.#{v.$iconfont-css}-windows:before {
  content : "\e68b";
}

.#{v.$iconfont-css}-apple:before {
  content : "\e68c";
}

.#{v.$iconfont-css}-apple-o:before {
  content : "\e6d4";
}

.#{v.$iconfont-css}-android:before {
  content : "\e938";
}

.#{v.$iconfont-css}-android-o:before {
  content : "\e68d";
}

.#{v.$iconfont-css}-aliwangwang:before {
  content : "\e68e";
}

.#{v.$iconfont-css}-aliwangwang-o:before {
  content : "\e68f";
}

.#{v.$iconfont-css}-export:before {
  content : "\e691";
}

.#{v.$iconfont-css}-edit:before {
  content : "\e692";
}

.#{v.$iconfont-css}-circle-down-o:before {
  content : "\e693";
}

.#{v.$iconfont-css}-circle-down-:before {
  content : "\e694";
}

.#{v.$iconfont-css}-appstore-o:before {
  content : "\e695";
}

.#{v.$iconfont-css}-appstore:before {
  content : "\e696";
}

.#{v.$iconfont-css}-scan:before {
  content : "\e697";
}

.#{v.$iconfont-css}-file-text:before {
  content : "\e698";
}

.#{v.$iconfont-css}-folder-open:before {
  content : "\e699";
}

.#{v.$iconfont-css}-hdd:before {
  content : "\e69a";
}

.#{v.$iconfont-css}-ie:before {
  content : "\e69b";
}

.#{v.$iconfont-css}-file-jpg:before {
  content : "\e69c";
}

.#{v.$iconfont-css}-like:before {
  content : "\e64c";
}

.#{v.$iconfont-css}-like-o:before {
  content : "\e69d";
}

.#{v.$iconfont-css}-dislike:before {
  content : "\e64b";
}

.#{v.$iconfont-css}-dislike-o:before {
  content : "\e69e";
}

.#{v.$iconfont-css}-delete:before {
  content : "\e69f";
}

.#{v.$iconfont-css}-enter:before {
  content : "\e6a0";
}

.#{v.$iconfont-css}-pushpin-o:before {
  content : "\e6a1";
}

.#{v.$iconfont-css}-pushpin:before {
  content : "\e6a2";
}

.#{v.$iconfont-css}-heart:before {
  content : "\e6a3";
}

.#{v.$iconfont-css}-heart-o:before {
  content : "\e6a4";
}

.#{v.$iconfont-css}-pay-circle:before {
  content : "\e6a5";
}

.#{v.$iconfont-css}-pay-circle-o:before {
  content : "\e6a6";
}

.#{v.$iconfont-css}-smile:before {
  content : "\e6a7";
}

.#{v.$iconfont-css}-smile-circle:before {
  content : "\e6a7";
}

// antd$1.x compatibility alias: smile
.#{v.$iconfont-css}-smile-o:before {
  content : "\e6a8";
}

.#{v.$iconfont-css}-frown-o:before {
  content : "\e6a9";
}

.#{v.$iconfont-css}-calculator:before {
  content : "\e6aa";
}

.#{v.$iconfont-css}-message:before {
  content : "\e6ab";
}

.#{v.$iconfont-css}-chrome:before {
  content : "\e6ac";
}

.#{v.$iconfont-css}-github:before {
  content : "\e6ad";
}

.#{v.$iconfont-css}-file-unknown:before {
  content : "\e6af";
}

.#{v.$iconfont-css}-file-excel:before {
  content : "\e6b0";
}

.#{v.$iconfont-css}-file-ppt:before {
  content : "\e6b1";
}

.#{v.$iconfont-css}-file-word:before {
  content : "\e6b2";
}

.#{v.$iconfont-css}-file-pdf:before {
  content : "\e6b3";
}

.#{v.$iconfont-css}-desktop:before {
  content : "\e6b4";
}

.#{v.$iconfont-css}-upload:before {
  content : "\e6b6";
}

.#{v.$iconfont-css}-download:before {
  content : "\e6b7";
}

.#{v.$iconfont-css}-pie-chart:before {
  content : "\e6b8";
}

.#{v.$iconfont-css}-unlock:before {
  content : "\e6ba";
}

.#{v.$iconfont-css}-calendar:before {
  content : "\e6bb";
}

.#{v.$iconfont-css}-windows-o:before {
  content : "\e6bc";
}

.#{v.$iconfont-css}-dot-chart:before {
  content : "\e6bd";
}

.#{v.$iconfont-css}-bar-chart:before {
  content : "\e6be";
}

.#{v.$iconfont-css}-code:before {
  content : "\e6bf";
}

.#{v.$iconfont-css}-api:before {
  content : "\e951";
}

.#{v.$iconfont-css}-plus-square:before {
  content : "\e6c0";
}

.#{v.$iconfont-css}-minus-square:before {
  content : "\e6c1";
}

.#{v.$iconfont-css}-close-square:before {
  content : "\e6c2";
}

.#{v.$iconfont-css}-close-square-o:before {
  content : "\e6c3";
}

.#{v.$iconfont-css}-check-square:before {
  content : "\e6c4";
}

.#{v.$iconfont-css}-check-square-o:before {
  content : "\e6c5";
}

.#{v.$iconfont-css}-fast-backward:before {
  content : "\e6c6";
}

.#{v.$iconfont-css}-fast-forward:before {
  content : "\e6c7";
}

.#{v.$iconfont-css}-up-square:before {
  content : "\e6c8";
}

.#{v.$iconfont-css}-down-square:before {
  content : "\e6c9";
}

.#{v.$iconfont-css}-left-square:before {
  content : "\e6ca";
}

.#{v.$iconfont-css}-right-square:before {
  content : "\e6cb";
}

.#{v.$iconfont-css}-right-square-o:before {
  content : "\e6cc";
}

.#{v.$iconfont-css}-left-square-o:before {
  content : "\e6cd";
}

.#{v.$iconfont-css}-down-square-o:before {
  content : "\e6ce";
}

.#{v.$iconfont-css}-up-square-o:before {
  content : "\e6cf";
}

.#{v.$iconfont-css}-loading:before {
  content : "\e64d";
}

.#{v.$iconfont-css}-loading-3-quarters:before {
  content : "\e6ae";
}

.#{v.$iconfont-css}-bulb:before {
  content : "\e649";
}

.#{v.$iconfont-css}-select:before {
  content : "\e64a";
}

.#{v.$iconfont-css}-addfile:before,
.#{v.$iconfont-css}-file-add:before {
  content : "\e910";
}

.#{v.$iconfont-css}-addfolder:before,
.#{v.$iconfont-css}-folder-add:before {
  content : "\e914";
}

.#{v.$iconfont-css}-switcher:before {
  content : "\e913";
}

.#{v.$iconfont-css}-rocket:before {
  content : "\e90f";
}

.#{v.$iconfont-css}-dingding:before {
  content : "\e923";
}

.#{v.$iconfont-css}-dingding-o:before {
  content : "\e925";
}

.#{v.$iconfont-css}-bell:before {
  content : "\e64e";
}

.#{v.$iconfont-css}-disconnect:before {
  content : "\e64f";
}

.#{v.$iconfont-css}-database:before {
  content : "\e650";
}

.#{v.$iconfont-css}-compass:before {
  content : "\e6db";
}

.#{v.$iconfont-css}-barcode:before {
  content : "\e652";
}

.#{v.$iconfont-css}-hourglass:before {
  content : "\e653";
}

.#{v.$iconfont-css}-key:before {
  content : "\e654";
}

.#{v.$iconfont-css}-flag:before {
  content : "\e655";
}

.#{v.$iconfont-css}-layout:before {
  content : "\e656";
}

.#{v.$iconfont-css}-login:before {
  content : "\e657";
}

.#{v.$iconfont-css}-printer:before {
  content : "\e673";
}

.#{v.$iconfont-css}-sound:before {
  content : "\e6e9";
}

.#{v.$iconfont-css}-usb:before {
  content : "\e6d7";
}

.#{v.$iconfont-css}-skin:before {
  content : "\e6d8";
}

.#{v.$iconfont-css}-tool:before {
  content : "\e6d9";
}

.#{v.$iconfont-css}-sync:before {
  content : "\e6da";
}

.#{v.$iconfont-css}-wifi:before {
  content : "\e6d6";
}

.#{v.$iconfont-css}-car:before {
  content : "\e6dc";
}

.#{v.$iconfont-css}-copyright:before {
  content : "\e6de";
}

.#{v.$iconfont-css}-schedule:before {
  content : "\e6df";
}

.#{v.$iconfont-css}-user-add:before {
  content : "\e6ed";
}

.#{v.$iconfont-css}-user-delete:before {
  content : "\e6e0";
}

.#{v.$iconfont-css}-usergroup-add:before {
  content : "\e6dd";
}

.#{v.$iconfont-css}-usergroup-delete:before {
  content : "\e6e1";
}

.#{v.$iconfont-css}-man:before {
  content : "\e6e2";
}

.#{v.$iconfont-css}-woman:before {
  content : "\e6ec";
}

.#{v.$iconfont-css}-shop:before {
  content : "\e6e3";
}

.#{v.$iconfont-css}-gift:before {
  content : "\e6e4";
}

.#{v.$iconfont-css}-idcard:before {
  content : "\e6e5";
}

.#{v.$iconfont-css}-medicine-box:before {
  content : "\e6e6";
}

.#{v.$iconfont-css}-red-envelope:before {
  content : "\e6e7";
}

.#{v.$iconfont-css}-coffee:before {
  content : "\e6e8";
}

.#{v.$iconfont-css}-trademark:before {
  content : "\e651";
}

.#{v.$iconfont-css}-safety:before {
  content : "\e6ea";
}

.#{v.$iconfont-css}-wallet:before {
  content : "\e6eb";
}

.#{v.$iconfont-css}-bank:before {
  content : "\e6ee";
}

.#{v.$iconfont-css}-trophy:before {
  content : "\e6ef";
}

.#{v.$iconfont-css}-contacts:before {
  content : "\e6f0";
}

.#{v.$iconfont-css}-global:before {
  content : "\e6f1";
}

.#{v.$iconfont-css}-shake:before {
  content : "\e94f";
}

.#{v.$iconfont-css}-fork:before {
  content : "\e6f2";
}

.#{v.$iconfont-css}-spin:before {
  display   : inline-block;
  animation : loadingCircle 1s infinite linear;
}

