@use "./mixins";


// font-face
// $icon-url： 字体源文件的地址
@font-face {
  font-family : "anticon";
  src         : url("#{mixins.$icon-url}.eot"); /* IE9*/
  src         : /* IE6-IE8 */
    url("#{mixins.$icon-url}.eot?#iefix") format("embedded-opentype"),
      /* chrome、firefox */
    url("#{mixins.$icon-url}.woff") format("woff"),
      /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("#{mixins.$icon-url}.ttf") format("truetype"),
      /* iOS 4.1- */
    url("#{mixins.$icon-url}.svg#iconfont") format("svg");
}

.#{mixins.$iconfont-css-prefix} {
  @include mixins.iconfont-mixin();
}

.#{mixins.$iconfont-css-prefix}-step-forward:before {
  content : "\e600";
}

.#{mixins.$iconfont-css-prefix}-step-backward:before {
  content : "\e601";
}

.#{mixins.$iconfont-css-prefix}-forward:before {
  content : "\e602";
}

.#{mixins.$iconfont-css-prefix}-backward:before {
  content : "\e603";
}

.#{mixins.$iconfont-css-prefix}-caret-right:before {
  content : "\e604";
}

.#{mixins.$iconfont-css-prefix}-caret-left:before {
  content : "\e605";
}

.#{mixins.$iconfont-css-prefix}-caret-down:before {
  content : "\e606";
}

.#{mixins.$iconfont-css-prefix}-caret-up:before {
  content : "\e607";
}

.#{mixins.$iconfont-css-prefix}-right-circle:before {
  content : "\e608";
}

.#{mixins.$iconfont-css-prefix}-circle-right:before {
  content : "\e608";
}

// antd$1.x compatibility alias: right-circle
.#{mixins.$iconfont-css-prefix}-caret-circle-right:before {
  content : "\e608";
}

// antd$1.x compatibility alias: right-circle
.#{mixins.$iconfont-css-prefix}-left-circle:before {
  content : "\e609";
}

.#{mixins.$iconfont-css-prefix}-circle-left:before {
  content : "\e609";
}

// antd$1.x compatibility alias: left-circle
.#{mixins.$iconfont-css-prefix}-caret-circle-left:before {
  content : "\e609";
}

// antd$1.x compatibility alias: left-circle
.#{mixins.$iconfont-css-prefix}-up-circle:before {
  content : "\e60a";
}

.#{mixins.$iconfont-css-prefix}-circle-up:before {
  content : "\e60a";
}

// antd$1.x compatibility alias: up-circle
.#{mixins.$iconfont-css-prefix}-caret-circle-up:before {
  content : "\e60a";
}

// antd$1.x compatibility alias: up-circle
.#{mixins.$iconfont-css-prefix}-down-circle:before {
  content : "\e60b";
}

.#{mixins.$iconfont-css-prefix}-circle-down:before {
  content : "\e60b";
}

// antd$1.x compatibility alias: down-circle
.#{mixins.$iconfont-css-prefix}-caret-circle-down:before {
  content : "\e60b";
}

// antd$1.x compatibility alias: down-circle
.#{mixins.$iconfont-css-prefix}-right-circle-o:before {
  content : "\e60c";
}

.#{mixins.$iconfont-css-prefix}-circle-o-right:before {
  content : "\e60c";
}

// antd$1.x compatibility alias: right-circle-o
.#{mixins.$iconfont-css-prefix}-caret-circle-o-right:before {
  content : "\e60c";
}

// antd$1.x compatibility alias: right-circle-o
.#{mixins.$iconfont-css-prefix}-left-circle-o:before {
  content : "\e60d";
}

.#{mixins.$iconfont-css-prefix}-circle-o-left:before {
  content : "\e60d";
}

// antd$1.x compatibility alias: left-circle-o
.#{mixins.$iconfont-css-prefix}-caret-circle-o-left:before {
  content : "\e60d";
}

// antd$1.x compatibility alias: left-circle-o
.#{mixins.$iconfont-css-prefix}-up-circle-o:before {
  content : "\e60e";
}

.#{mixins.$iconfont-css-prefix}-circle-o-up:before {
  content : "\e60e";
}

// antd$1.x compatibility alias: up-circle-o
.#{mixins.$iconfont-css-prefix}-caret-circle-o-up:before {
  content : "\e60e";
}

// antd$1.x compatibility alias: up-circle-o
.#{mixins.$iconfont-css-prefix}-down-circle-o:before {
  content : "\e60f";
}

.#{mixins.$iconfont-css-prefix}-circle-o-down:before {
  content : "\e60f";
}

// antd$1.x compatibility alias: down-circle-o
.#{mixins.$iconfont-css-prefix}-caret-circle-o-down:before {
  content : "\e60f";
}

// antd$1.x compatibility alias: down-circle-o
.#{mixins.$iconfont-css-prefix}-verticle-left:before {
  content : "\e610";
}

.#{mixins.$iconfont-css-prefix}-verticle-right:before {
  content : "\e611";
}

.#{mixins.$iconfont-css-prefix}-rollback:before {
  content : "\e612";
}

.#{mixins.$iconfont-css-prefix}-retweet:before {
  content : "\e613";
}

.#{mixins.$iconfont-css-prefix}-shrink:before {
  content : "\e614";
}

.#{mixins.$iconfont-css-prefix}-arrows-alt:before {
  content : "\e615";
}

.#{mixins.$iconfont-css-prefix}-arrow-salt:before {
  content : "\e615";
}

// antd$1.x compatibility alias: arrows-alt
.#{mixins.$iconfont-css-prefix}-reload:before {
  content : "\e616";
}

.#{mixins.$iconfont-css-prefix}-double-right:before {
  content : "\e617";
}

.#{mixins.$iconfont-css-prefix}-double-left:before {
  content : "\e618";
}

.#{mixins.$iconfont-css-prefix}-arrow-down:before {
  content : "\e619";
}

.#{mixins.$iconfont-css-prefix}-arrow-up:before {
  content : "\e61a";
}

.#{mixins.$iconfont-css-prefix}-arrow-right:before {
  content : "\e61b";
}

.#{mixins.$iconfont-css-prefix}-arrow-left:before {
  content : "\e61c";
}

.#{mixins.$iconfont-css-prefix}-down:before {
  content : "\e61d";
}

.#{mixins.$iconfont-css-prefix}-up:before {
  content : "\e61e";
}

.#{mixins.$iconfont-css-prefix}-right:before {
  content : "\e61f";
}

.#{mixins.$iconfont-css-prefix}-left:before {
  content : "\e620";
}

.#{mixins.$iconfont-css-prefix}-minus-square-o:before {
  content : "\e621";
}

.#{mixins.$iconfont-css-prefix}-minus-circle:before {
  content : "\e622";
}

.#{mixins.$iconfont-css-prefix}-minus-circle-o:before {
  content : "\e623";
}

.#{mixins.$iconfont-css-prefix}-minus:before {
  content : "\e624";
}

.#{mixins.$iconfont-css-prefix}-plus-circle-o:before {
  content : "\e625";
}

.#{mixins.$iconfont-css-prefix}-plus-circle:before {
  content : "\e626";
}

.#{mixins.$iconfont-css-prefix}-plus:before {
  content : "\e627";
}

.#{mixins.$iconfont-css-prefix}-info-circle:before {
  content : "\e628";
}

.#{mixins.$iconfont-css-prefix}-info-circle-o:before {
  content : "\e629";
}

.#{mixins.$iconfont-css-prefix}-info:before {
  content : "\e62a";
}

.#{mixins.$iconfont-css-prefix}-exclamation:before {
  content : "\e62b";
}

.#{mixins.$iconfont-css-prefix}-exclamation-circle:before {
  content : "\e62c";
}

.#{mixins.$iconfont-css-prefix}-exclamation-circle-o:before {
  content : "\e62d";
}

.#{mixins.$iconfont-css-prefix}-close-circle:before {
  content : "\e62e";
}

.#{mixins.$iconfont-css-prefix}-cross-circle:before {
  content : "\e62e";
}

// antd$1.x compatibility alias: close-circle
.#{mixins.$iconfont-css-prefix}-close-circle-o:before {
  content : "\e62f";
}

.#{mixins.$iconfont-css-prefix}-cross-circle-o:before {
  content : "\e62f";
}

// antd$1.x compatibility alias: close-circle-o
.#{mixins.$iconfont-css-prefix}-check-circle:before {
  content : "\e630";
}

.#{mixins.$iconfont-css-prefix}-check-circle-o:before {
  content : "\e631";
}

.#{mixins.$iconfont-css-prefix}-check:before {
  content : "\e632";
}

.#{mixins.$iconfont-css-prefix}-close:before {
  content : "\e633";
}

.#{mixins.$iconfont-css-prefix}-cross:before {
  content : "\e633";
}

// antd$1.x compatibility alias: close
.#{mixins.$iconfont-css-prefix}-customer-service:before {
  content : "\e634";
}

.#{mixins.$iconfont-css-prefix}-customerservice:before {
  content : "\e634";
}

// antd$1.x compatibility alias: customer-service
.#{mixins.$iconfont-css-prefix}-credit-card:before {
  content : "\e635";
}

.#{mixins.$iconfont-css-prefix}-code-o:before {
  content : "\e636";
}

.#{mixins.$iconfont-css-prefix}-book:before {
  content : "\e637";
}

.#{mixins.$iconfont-css-prefix}-bar-chart:before {
  content : "\e638";
}

.#{mixins.$iconfont-css-prefix}-bars:before {
  content : "\e639";
}

.#{mixins.$iconfont-css-prefix}-question:before {
  content : "\e63a";
}

.#{mixins.$iconfont-css-prefix}-question-circle:before {
  content : "\e63b";
}

.#{mixins.$iconfont-css-prefix}-question-circle-o:before {
  content : "\e63c";
}

.#{mixins.$iconfont-css-prefix}-pause:before {
  content : "\e63d";
}

.#{mixins.$iconfont-css-prefix}-pause-circle:before {
  content : "\e63e";
}

.#{mixins.$iconfont-css-prefix}-pause-circle-o:before {
  content : "\e63f";
}

.#{mixins.$iconfont-css-prefix}-clock-circle:before {
  content : "\e640";
}

.#{mixins.$iconfont-css-prefix}-clock-circle-o:before {
  content : "\e641";
}

.#{mixins.$iconfont-css-prefix}-swap:before {
  content : "\e642";
}

.#{mixins.$iconfont-css-prefix}-swap-left:before {
  content : "\e643";
}

.#{mixins.$iconfont-css-prefix}-swap-right:before {
  content : "\e644";
}

.#{mixins.$iconfont-css-prefix}-plus-square-o:before {
  content : "\e645";
}

.#{mixins.$iconfont-css-prefix}-frown:before {
  content : "\e646";
}

.#{mixins.$iconfont-css-prefix}-frown-circle:before {
  content : "\e646";
}

// antd$1.x compatibility alias: frown
.#{mixins.$iconfont-css-prefix}-ellipsis:before {
  content : "\e647";
}

.#{mixins.$iconfont-css-prefix}-copy:before {
  content : "\e648";
}

.#{mixins.$iconfont-css-prefix}-menu-fold:before {
  content : "\e658";
}

.#{mixins.$iconfont-css-prefix}-mail:before {
  content : "\e659";
}

.#{mixins.$iconfont-css-prefix}-logout:before {
  content : "\e65a";
}

.#{mixins.$iconfont-css-prefix}-link:before {
  content : "\e65b";
}

.#{mixins.$iconfont-css-prefix}-area-chart:before {
  content : "\e65c";
}

.#{mixins.$iconfont-css-prefix}-line-chart:before {
  content : "\e65d";
}

.#{mixins.$iconfont-css-prefix}-home:before {
  content : "\e65e";
}

.#{mixins.$iconfont-css-prefix}-laptop:before {
  content : "\e65f";
}

.#{mixins.$iconfont-css-prefix}-star:before {
  content : "\e660";
}

.#{mixins.$iconfont-css-prefix}-star-o:before {
  content : "\e661";
}

.#{mixins.$iconfont-css-prefix}-folder:before {
  content : "\e662";
}

.#{mixins.$iconfont-css-prefix}-filter:before {
  content : "\e663";
}

.#{mixins.$iconfont-css-prefix}-file:before {
  content : "\e664";
}

.#{mixins.$iconfont-css-prefix}-exception:before {
  content : "\e665";
}

.#{mixins.$iconfont-css-prefix}-meh:before {
  content : "\e666";
}

.#{mixins.$iconfont-css-prefix}-meh-circle:before {
  content : "\e666";
}

// antd$1.x compatibility alias: meh
.#{mixins.$iconfont-css-prefix}-meh-o:before {
  content : "\e667";
}

.#{mixins.$iconfont-css-prefix}-shopping-cart:before {
  content : "\e668";
}

.#{mixins.$iconfont-css-prefix}-save:before {
  content : "\e669";
}

.#{mixins.$iconfont-css-prefix}-user:before {
  content : "\e66a";
}

.#{mixins.$iconfont-css-prefix}-video-camera:before {
  content : "\e66b";
}

.#{mixins.$iconfont-css-prefix}-to-top:before {
  content : "\e66c";
}

.#{mixins.$iconfont-css-prefix}-team:before {
  content : "\e66d";
}

.#{mixins.$iconfont-css-prefix}-tablet:before {
  content : "\e66e";
}

.#{mixins.$iconfont-css-prefix}-solution:before {
  content : "\e66f";
}

.#{mixins.$iconfont-css-prefix}-search:before {
  content : "\e670";
}

.#{mixins.$iconfont-css-prefix}-share-alt:before {
  content : "\e671";
}

.#{mixins.$iconfont-css-prefix}-setting:before {
  content : "\e672";
}

.#{mixins.$iconfont-css-prefix}-poweroff:before {
  content : "\e6d5";
}

.#{mixins.$iconfont-css-prefix}-picture:before {
  content : "\e674";
}

.#{mixins.$iconfont-css-prefix}-phone:before {
  content : "\e675";
}

.#{mixins.$iconfont-css-prefix}-paper-clip:before {
  content : "\e676";
}

.#{mixins.$iconfont-css-prefix}-notification:before {
  content : "\e677";
}

.#{mixins.$iconfont-css-prefix}-mobile:before {
  content : "\e678";
}

.#{mixins.$iconfont-css-prefix}-menu-unfold:before {
  content : "\e679";
}

.#{mixins.$iconfont-css-prefix}-inbox:before {
  content : "\e67a";
}

.#{mixins.$iconfont-css-prefix}-lock:before {
  content : "\e67b";
}

.#{mixins.$iconfont-css-prefix}-qrcode:before {
  content : "\e67c";
}

.#{mixins.$iconfont-css-prefix}-play-circle:before {
  content : "\e6d0";
}

.#{mixins.$iconfont-css-prefix}-play-circle-o:before {
  content : "\e6d1";
}

.#{mixins.$iconfont-css-prefix}-tag:before {
  content : "\e6d2";
}

.#{mixins.$iconfont-css-prefix}-tag-o:before {
  content : "\e6d3";
}

.#{mixins.$iconfont-css-prefix}-tags:before {
  content : "\e67d";
}

.#{mixins.$iconfont-css-prefix}-tags-o:before {
  content : "\e67e";
}

.#{mixins.$iconfont-css-prefix}-cloud-o:before {
  content : "\e67f";
}

.#{mixins.$iconfont-css-prefix}-cloud:before {
  content : "\e680";
}

.#{mixins.$iconfont-css-prefix}-cloud-upload:before {
  content : "\e681";
}

.#{mixins.$iconfont-css-prefix}-cloud-download:before {
  content : "\e682";
}

.#{mixins.$iconfont-css-prefix}-cloud-download-o:before {
  content : "\e683";
}

.#{mixins.$iconfont-css-prefix}-cloud-upload-o:before {
  content : "\e684";
}

.#{mixins.$iconfont-css-prefix}-environment:before {
  content : "\e685";
}

.#{mixins.$iconfont-css-prefix}-environment-o:before {
  content : "\e686";
}

.#{mixins.$iconfont-css-prefix}-eye:before {
  content : "\e687";
}

.#{mixins.$iconfont-css-prefix}-eye-o:before {
  content : "\e688";
}

.#{mixins.$iconfont-css-prefix}-camera:before {
  content : "\e689";
}

.#{mixins.$iconfont-css-prefix}-camera-o:before {
  content : "\e68a";
}

.#{mixins.$iconfont-css-prefix}-windows:before {
  content : "\e68b";
}

.#{mixins.$iconfont-css-prefix}-apple:before {
  content : "\e68c";
}

.#{mixins.$iconfont-css-prefix}-apple-o:before {
  content : "\e6d4";
}

.#{mixins.$iconfont-css-prefix}-android:before {
  content : "\e938";
}

.#{mixins.$iconfont-css-prefix}-android-o:before {
  content : "\e68d";
}

.#{mixins.$iconfont-css-prefix}-aliwangwang:before {
  content : "\e68e";
}

.#{mixins.$iconfont-css-prefix}-aliwangwang-o:before {
  content : "\e68f";
}

.#{mixins.$iconfont-css-prefix}-export:before {
  content : "\e691";
}

.#{mixins.$iconfont-css-prefix}-edit:before {
  content : "\e692";
}

.#{mixins.$iconfont-css-prefix}-circle-down-o:before {
  content : "\e693";
}

.#{mixins.$iconfont-css-prefix}-circle-down-:before {
  content : "\e694";
}

.#{mixins.$iconfont-css-prefix}-appstore-o:before {
  content : "\e695";
}

.#{mixins.$iconfont-css-prefix}-appstore:before {
  content : "\e696";
}

.#{mixins.$iconfont-css-prefix}-scan:before {
  content : "\e697";
}

.#{mixins.$iconfont-css-prefix}-file-text:before {
  content : "\e698";
}

.#{mixins.$iconfont-css-prefix}-folder-open:before {
  content : "\e699";
}

.#{mixins.$iconfont-css-prefix}-hdd:before {
  content : "\e69a";
}

.#{mixins.$iconfont-css-prefix}-ie:before {
  content : "\e69b";
}

.#{mixins.$iconfont-css-prefix}-file-jpg:before {
  content : "\e69c";
}

.#{mixins.$iconfont-css-prefix}-like:before {
  content : "\e64c";
}

.#{mixins.$iconfont-css-prefix}-like-o:before {
  content : "\e69d";
}

.#{mixins.$iconfont-css-prefix}-dislike:before {
  content : "\e64b";
}

.#{mixins.$iconfont-css-prefix}-dislike-o:before {
  content : "\e69e";
}

.#{mixins.$iconfont-css-prefix}-delete:before {
  content : "\e69f";
}

.#{mixins.$iconfont-css-prefix}-enter:before {
  content : "\e6a0";
}

.#{mixins.$iconfont-css-prefix}-pushpin-o:before {
  content : "\e6a1";
}

.#{mixins.$iconfont-css-prefix}-pushpin:before {
  content : "\e6a2";
}

.#{mixins.$iconfont-css-prefix}-heart:before {
  content : "\e6a3";
}

.#{mixins.$iconfont-css-prefix}-heart-o:before {
  content : "\e6a4";
}

.#{mixins.$iconfont-css-prefix}-pay-circle:before {
  content : "\e6a5";
}

.#{mixins.$iconfont-css-prefix}-pay-circle-o:before {
  content : "\e6a6";
}

.#{mixins.$iconfont-css-prefix}-smile:before {
  content : "\e6a7";
}

.#{mixins.$iconfont-css-prefix}-smile-circle:before {
  content : "\e6a7";
}

// antd$1.x compatibility alias: smile
.#{mixins.$iconfont-css-prefix}-smile-o:before {
  content : "\e6a8";
}

.#{mixins.$iconfont-css-prefix}-frown-o:before {
  content : "\e6a9";
}

.#{mixins.$iconfont-css-prefix}-calculator:before {
  content : "\e6aa";
}

.#{mixins.$iconfont-css-prefix}-message:before {
  content : "\e6ab";
}

.#{mixins.$iconfont-css-prefix}-chrome:before {
  content : "\e6ac";
}

.#{mixins.$iconfont-css-prefix}-github:before {
  content : "\e6ad";
}

.#{mixins.$iconfont-css-prefix}-file-unknown:before {
  content : "\e6af";
}

.#{mixins.$iconfont-css-prefix}-file-excel:before {
  content : "\e6b0";
}

.#{mixins.$iconfont-css-prefix}-file-ppt:before {
  content : "\e6b1";
}

.#{mixins.$iconfont-css-prefix}-file-word:before {
  content : "\e6b2";
}

.#{mixins.$iconfont-css-prefix}-file-pdf:before {
  content : "\e6b3";
}

.#{mixins.$iconfont-css-prefix}-desktop:before {
  content : "\e6b4";
}

.#{mixins.$iconfont-css-prefix}-upload:before {
  content : "\e6b6";
}

.#{mixins.$iconfont-css-prefix}-download:before {
  content : "\e6b7";
}

.#{mixins.$iconfont-css-prefix}-pie-chart:before {
  content : "\e6b8";
}

.#{mixins.$iconfont-css-prefix}-unlock:before {
  content : "\e6ba";
}

.#{mixins.$iconfont-css-prefix}-calendar:before {
  content : "\e6bb";
}

.#{mixins.$iconfont-css-prefix}-windows-o:before {
  content : "\e6bc";
}

.#{mixins.$iconfont-css-prefix}-dot-chart:before {
  content : "\e6bd";
}

.#{mixins.$iconfont-css-prefix}-bar-chart:before {
  content : "\e6be";
}

.#{mixins.$iconfont-css-prefix}-code:before {
  content : "\e6bf";
}

.#{mixins.$iconfont-css-prefix}-api:before {
  content : "\e951";
}

.#{mixins.$iconfont-css-prefix}-plus-square:before {
  content : "\e6c0";
}

.#{mixins.$iconfont-css-prefix}-minus-square:before {
  content : "\e6c1";
}

.#{mixins.$iconfont-css-prefix}-close-square:before {
  content : "\e6c2";
}

.#{mixins.$iconfont-css-prefix}-close-square-o:before {
  content : "\e6c3";
}

.#{mixins.$iconfont-css-prefix}-check-square:before {
  content : "\e6c4";
}

.#{mixins.$iconfont-css-prefix}-check-square-o:before {
  content : "\e6c5";
}

.#{mixins.$iconfont-css-prefix}-fast-backward:before {
  content : "\e6c6";
}

.#{mixins.$iconfont-css-prefix}-fast-forward:before {
  content : "\e6c7";
}

.#{mixins.$iconfont-css-prefix}-up-square:before {
  content : "\e6c8";
}

.#{mixins.$iconfont-css-prefix}-down-square:before {
  content : "\e6c9";
}

.#{mixins.$iconfont-css-prefix}-left-square:before {
  content : "\e6ca";
}

.#{mixins.$iconfont-css-prefix}-right-square:before {
  content : "\e6cb";
}

.#{mixins.$iconfont-css-prefix}-right-square-o:before {
  content : "\e6cc";
}

.#{mixins.$iconfont-css-prefix}-left-square-o:before {
  content : "\e6cd";
}

.#{mixins.$iconfont-css-prefix}-down-square-o:before {
  content : "\e6ce";
}

.#{mixins.$iconfont-css-prefix}-up-square-o:before {
  content : "\e6cf";
}

.#{mixins.$iconfont-css-prefix}-loading:before {
  content : "\e64d";
}

.#{mixins.$iconfont-css-prefix}-loading-3-quarters:before {
  content : "\e6ae";
}

.#{mixins.$iconfont-css-prefix}-bulb:before {
  content : "\e649";
}

.#{mixins.$iconfont-css-prefix}-select:before {
  content : "\e64a";
}

.#{mixins.$iconfont-css-prefix}-addfile:before,
.#{mixins.$iconfont-css-prefix}-file-add:before {
  content : "\e910";
}

.#{mixins.$iconfont-css-prefix}-addfolder:before,
.#{mixins.$iconfont-css-prefix}-folder-add:before {
  content : "\e914";
}

.#{mixins.$iconfont-css-prefix}-switcher:before {
  content : "\e913";
}

.#{mixins.$iconfont-css-prefix}-rocket:before {
  content : "\e90f";
}

.#{mixins.$iconfont-css-prefix}-dingding:before {
  content : "\e923";
}

.#{mixins.$iconfont-css-prefix}-dingding-o:before {
  content : "\e925";
}

.#{mixins.$iconfont-css-prefix}-bell:before {
  content : "\e64e";
}

.#{mixins.$iconfont-css-prefix}-disconnect:before {
  content : "\e64f";
}

.#{mixins.$iconfont-css-prefix}-database:before {
  content : "\e650";
}

.#{mixins.$iconfont-css-prefix}-compass:before {
  content : "\e6db";
}

.#{mixins.$iconfont-css-prefix}-barcode:before {
  content : "\e652";
}

.#{mixins.$iconfont-css-prefix}-hourglass:before {
  content : "\e653";
}

.#{mixins.$iconfont-css-prefix}-key:before {
  content : "\e654";
}

.#{mixins.$iconfont-css-prefix}-flag:before {
  content : "\e655";
}

.#{mixins.$iconfont-css-prefix}-layout:before {
  content : "\e656";
}

.#{mixins.$iconfont-css-prefix}-login:before {
  content : "\e657";
}

.#{mixins.$iconfont-css-prefix}-printer:before {
  content : "\e673";
}

.#{mixins.$iconfont-css-prefix}-sound:before {
  content : "\e6e9";
}

.#{mixins.$iconfont-css-prefix}-usb:before {
  content : "\e6d7";
}

.#{mixins.$iconfont-css-prefix}-skin:before {
  content : "\e6d8";
}

.#{mixins.$iconfont-css-prefix}-tool:before {
  content : "\e6d9";
}

.#{mixins.$iconfont-css-prefix}-sync:before {
  content : "\e6da";
}

.#{mixins.$iconfont-css-prefix}-wifi:before {
  content : "\e6d6";
}

.#{mixins.$iconfont-css-prefix}-car:before {
  content : "\e6dc";
}

.#{mixins.$iconfont-css-prefix}-copyright:before {
  content : "\e6de";
}

.#{mixins.$iconfont-css-prefix}-schedule:before {
  content : "\e6df";
}

.#{mixins.$iconfont-css-prefix}-user-add:before {
  content : "\e6ed";
}

.#{mixins.$iconfont-css-prefix}-user-delete:before {
  content : "\e6e0";
}

.#{mixins.$iconfont-css-prefix}-usergroup-add:before {
  content : "\e6dd";
}

.#{mixins.$iconfont-css-prefix}-usergroup-delete:before {
  content : "\e6e1";
}

.#{mixins.$iconfont-css-prefix}-man:before {
  content : "\e6e2";
}

.#{mixins.$iconfont-css-prefix}-woman:before {
  content : "\e6ec";
}

.#{mixins.$iconfont-css-prefix}-shop:before {
  content : "\e6e3";
}

.#{mixins.$iconfont-css-prefix}-gift:before {
  content : "\e6e4";
}

.#{mixins.$iconfont-css-prefix}-idcard:before {
  content : "\e6e5";
}

.#{mixins.$iconfont-css-prefix}-medicine-box:before {
  content : "\e6e6";
}

.#{mixins.$iconfont-css-prefix}-red-envelope:before {
  content : "\e6e7";
}

.#{mixins.$iconfont-css-prefix}-coffee:before {
  content : "\e6e8";
}

.#{mixins.$iconfont-css-prefix}-trademark:before {
  content : "\e651";
}

.#{mixins.$iconfont-css-prefix}-safety:before {
  content : "\e6ea";
}

.#{mixins.$iconfont-css-prefix}-wallet:before {
  content : "\e6eb";
}

.#{mixins.$iconfont-css-prefix}-bank:before {
  content : "\e6ee";
}

.#{mixins.$iconfont-css-prefix}-trophy:before {
  content : "\e6ef";
}

.#{mixins.$iconfont-css-prefix}-contacts:before {
  content : "\e6f0";
}

.#{mixins.$iconfont-css-prefix}-global:before {
  content : "\e6f1";
}

.#{mixins.$iconfont-css-prefix}-shake:before {
  content : "\e94f";
}

.#{mixins.$iconfont-css-prefix}-fork:before {
  content : "\e6f2";
}

.#{mixins.$iconfont-css-prefix}-spin:before {
  display   : inline-block;
  animation : loadingCircle 1s infinite linear;
}

