@import "../../core/style/mixins";
@import "../../core/style/variables";
@import "../../input/style/input-theme";

@mixin tri-form-control-validation-theme(
  $theme
) {
  $foreground       : map-get($theme, foreground);
  $background       : map-get($theme, background);

  $text-color       : tri-color($foreground, input-color);
  $border-color     : tri-color($foreground, input-border-color);
  $background-color : tri-color($foreground, input-bg);

  .#{$tri-prefix}-form-explain,
  .#{$tri-prefix}-form-split {
    color : $text-color;
  }
  // 输入框的不同校验状态
  .#{$tri-prefix}-input {
    //@at-root &,
    &:hover {
      border-color : $border-color;
    }

    @at-root &:focus {
      @include tri-input-active-theme($theme, $border-color);
    }

    @at-root &:not([disabled]):hover {
      border-color : $border-color,
    }
  }

  .#{$tri-prefix}-calendar-picker-open .#{$tri-prefix}-calendar-picker-input {
    @include tri-input-active-theme($theme, $border-color);
  }

  .#{$tri-prefix}-input-prefix {
    color : $text-color,
  }

  .#{$tri-prefix}-input-group-addon {
    //color            : $text-color;
    border-color     : $border-color;
    background-color : $background-color;

    + .#{$tri-prefix}-input {
      border-top    : 1px solid $border-color;
      border-bottom : 1px solid $border-color;
    }
  }

  .has-feedback {
    color : $text-color;

    // 表格中的复选框文字不变成红色
    .tri-data-table {
      color : #444 !important;
    }
  }
}