//@import "../inputs/input-mixin";
//@import "../button/mixin";
//@import "../grid/mixin";
@import "./mixin";

$form-prefix-cls         : "#{$ant-prefix}-form";
$form-component-height   : $input-height-base;
$form-feedback-font-size : $font-size-base;
@include reset-form();

label {
  position : relative;

  > .#{$iconfont-css-prefix} {
    vertical-align : top;
    font-size      : $font-size-base;
  }
}

.#{$form-prefix-cls}-item-required:before {
  display      : inline-block;
  margin-right : 4px;
  content      : "*";
  font-family  : SimSun;
  line-height  : 1;
  font-size    : $font-size-base;
  color        : $label-required-color;
  @at-root .#{$form-prefix-cls}-hide-required-mark #{&} {
    display : none;
  }
}

// Radio #{&}#{&} Checkbox
input[type="radio"],
input[type="checkbox"] {
  @at-root &[disabled],
  &.disabled {
    cursor : not-allowed;
  }
}

// These classes are used directly on <label>s
.#{$ant-prefix}-radio-inline,
.#{$ant-prefix}-radio-vertical,
.#{$ant-prefix}-checkbox-inline,
.#{$ant-prefix}-checkbox-vertical {
  @at-root &.disabled {
    cursor : not-allowed;
  }
}

// These classes are used on elements with <label> descendants
.#{$ant-prefix}-radio,
.#{$ant-prefix}-checkbox {
  @at-root &.disabled {
    label {
      cursor : not-allowed;
    }
  }
}

// Form items
// You should wrap labels and controls in .#{$form-prefix-cls}-item for optimum spacing
.#{$form-prefix-cls}-item {
  font-size      : $font-size-base;
  margin-bottom  : $form-item-margin-bottom;
  color          : $text-color;
  vertical-align : top;
  display        : flex;

  // nested FormItem
  @at-root & > #{&},
  &:not(.#{$form-prefix-cls}) > #{&} {
    margin-bottom : -$form-item-margin-bottom;
  }

  @at-root &-control {
    line-height : $form-component-height;
    position    : relative;
    display     : inline-block;
    @include clearfix;
  }

  @at-root &-with-help {
    margin-bottom : $form-item-margin-bottom - $font-size-base * $line-height-base;
  }

  @at-root &-label {
    text-align     : right;
    vertical-align : middle;
    line-height    : $form-component-height;
    display        : inline-block;
    overflow       : hidden;
    text-overflow  : ellipsis;
    white-space    : nowrap;

    label {
      color : $label-color;

      @at-root &:after {
        @if $form-item-trailing-colon {
          content : ":";
        } @else {
          content : " ";
        }
        margin   : 0 8px 0 2px;
        position : relative;
        top      : -0.5px;
      }
    }
  }

  .#{$ant-prefix}-switch {
    margin : 4px 0;
  }

  @at-root &-no-colon #{&}-label label:after {
    content : " ";
  }
}

.#{$form-prefix-cls}-explain,
.#{$form-prefix-cls}-extra {
  color       : $text-color-secondary;
  line-height : 1.5;
}

.#{$form-prefix-cls}-extra {
  padding-top : 4px;
}

.#{$form-prefix-cls}-text {
  display       : inline-block;
  padding-right : 8px;
}

.#{$form-prefix-cls}-split {
  display    : block;
  text-align : center;
}

.tri-form-item-control {
  display : block;
}

// no form tag the has-feedback should also take effect
.has-feedback {
  // 由于组件结构变化(item-children), 导致表单项宽度不会撑开包裹它的元素
  .tri-form-item-control {
    width : 100%;
  }

  .#{$ant-prefix}-input {
    padding-right : 2rem;

  }

  .#{$form-prefix-cls}-item-children-icon {
    position : absolute;
    top      : 0;
    right    : 0;
  }

  // Fix overlapping between feedback icon and <Select>'s arrow.
  // https://github.com/ant-design/ant-design/issues/4431
  > .#{$ant-prefix}-select .#{$ant-prefix}-select-arrow,
  > .#{$ant-prefix}-select .#{$ant-prefix}-select-selection__clear,
  :not(.#{$ant-prefix}-input-group-addon) > .#{$ant-prefix}-select .#{$ant-prefix}-select-arrow,
  :not(.#{$ant-prefix}-input-group-addon) > .#{$ant-prefix}-select .#{$ant-prefix}-select-selection__clear {
    right : 2rem;
  }

  > .#{$ant-prefix}-select .#{$ant-prefix}-select-selection-selected-value,
  :not(.#{$ant-prefix}-input-group-addon) > .#{$ant-prefix}-select .#{$ant-prefix}-select-selection-selected-value {
    padding-right : 2rem;
  }

  .#{$ant-prefix}-cascader-picker {
    @at-root &-clear {
      right : 2rem;
    }
  }

  // Fix issue: https://github.com/ant-design/ant-design/issues/4783
  .#{$ant-prefix}-calendar-picker {
    @at-root &-icon,
    &-clear {
      right : 2rem;
    }
  }
}

// 不需要feedback的表单项
.no-feedback {
  @at-root tri-switch ~ .tri-form-item-children-icon,
  tri-radio-group ~ .tri-form-item-children-icon, tri-radio ~ .tri-form-item-children-icon,
  tri-checkbox-group ~ .tri-form-item-children-icon, tri-checkbox ~ .tri-form-item-children-icon,
  tri-input-number ~ .tri-form-item-children-icon {
    display : none;
  }
}

// 表单下的输入框尺寸唯一: 大尺寸
form {
  > .#{$ant-prefix}-select .#{$ant-prefix}-select-arrow,
  > .#{$ant-prefix}-select .#{$ant-prefix}-select-selection__clear,
  :not(.#{$ant-prefix}-input-group-addon) > .#{$ant-prefix}-select .#{$ant-prefix}-select-arrow,
  :not(.#{$ant-prefix}-input-group-addon) > .#{$ant-prefix}-select .#{$ant-prefix}-select-selection__clear {
    right : 1rem;
  }

  textarea.#{$ant-prefix}-input {
    height : auto;
  }

  // input[type=file]
  .#{$ant-prefix}-upload {
    background : transparent;
  }

  input[type="radio"],
  input[type="checkbox"] {
    width  : 16px;
    height : 16px;
  }

  // Radios and checkboxes on same line
  .#{$ant-prefix}-radio-inline,
  .#{$ant-prefix}-checkbox-inline {
    display        : inline-block;
    vertical-align : middle;
    font-weight    : normal;
    cursor         : pointer;
    margin-left    : 8px;

    @at-root &:first-child {
      margin-left : 0;
    }
  }

  .#{$ant-prefix}-checkbox-vertical,
  .#{$ant-prefix}-radio-vertical {
    display : block;
  }

  .#{$ant-prefix}-checkbox-vertical + .#{$ant-prefix}-checkbox-vertical,
  .#{$ant-prefix}-radio-vertical + .#{$ant-prefix}-radio-vertical {
    margin-left : 0;
  }

  .#{$ant-prefix}-input-number {
    margin-top   : -1px;
    margin-right : 8px;
  }

  .#{$ant-prefix}-select,
  .#{$ant-prefix}-cascader-picker {
    width : 100%;
    // Fix https://github.com/ant-design/ant-design/issues/6097
    @at-root &:only-child {
      display : block;
    }
  }

  // Don't impact select inside input group
  .#{$ant-prefix}-input-group .#{$ant-prefix}-select,
  .#{$ant-prefix}-input-group .#{$ant-prefix}-cascader-picker {
    width : auto;
  }

  // Don't impact select inside input group addon
  .#{$ant-prefix}-input-group-addon .#{$ant-prefix}-select,
  .#{$ant-prefix}-input-group-addon .#{$ant-prefix}-cascader-picker {
    @at-root &:only-child {
      display : inline-block;
    }
  }
}

// Input combined with select
.#{$ant-prefix}-input-group-wrap {
  .#{$ant-prefix}-select-selection {
    border-bottom-left-radius : 0;
    border-top-left-radius    : 0;
    @at-root &:hover {
      border-color : $border-color-base;
    }
  }

  .#{$ant-prefix}-select-selection--single {
    margin-left      : -1px;
    height           : $input-height-lg;
    background-color : #eee;

    .#{$ant-prefix}-select-selection__rendered {
      padding-left  : 8px;
      padding-right : 25px;
      line-height   : 30px;
    }
  }

  .#{$ant-prefix}-select-open .#{$ant-prefix}-select-selection {
    border-color : $border-color-base;
    box-shadow   : none;
  }
}

// Form layout
//== Vertical Form
@mixin make-vertical-layout() {
  padding     : 0 0 8px;
  display     : block;
  text-align  : left;
  line-height : $line-height-base;

  label:after {
    display : none;
  }
}

.#{$form-prefix-cls}-vertical .#{$form-prefix-cls}-item-label,
  // when labelCol is 24, it is a vertical form
.#{$ant-prefix}-col-24.#{$form-prefix-cls}-item-label,
.#{$ant-prefix}-col-xl-24.#{$form-prefix-cls}-item-label {
  @include make-vertical-layout();
}

@media (max-width : $screen-xs-max) {
  .#{$ant-prefix}-col-xs-24.#{$form-prefix-cls}-item-label {
    @include make-vertical-layout();
  }
}

@media (max-width : $screen-sm-max) {
  .#{$ant-prefix}-col-sm-24.#{$form-prefix-cls}-item-label {
    @include make-vertical-layout();
  }
}

@media (max-width : $screen-md-max) {
  .#{$ant-prefix}-col-md-24.#{$form-prefix-cls}-item-label {
    @include make-vertical-layout();
  }
}

@media (max-width : $screen-lg-max) {
  .#{$ant-prefix}-col-lg-24.#{$form-prefix-cls}-item-label {
    @include make-vertical-layout();
  }
}

//== Inline Form
.#{$form-prefix-cls}-inline {
  .#{$form-prefix-cls}-item {
    display       : inline-flex;
    margin-right  : 1rem;
    margin-bottom : 0;

    @at-root &-with-help {
      margin-bottom : 24px;
    }

    > div {
      display        : inline-block;
      vertical-align : middle;
    }
  }

  .#{$form-prefix-cls}-text {
    display : inline-block;
  }

  .has-feedback {
    display : inline-block;
  }

  // Fix https://github.com/ant-design/ant-design/issues/1040
  .#{$form-prefix-cls}-explain {
    position : absolute;
  }
}

// Validation state
.has-success,
.has-warning,
.has-error,
.is-validating {
  // ant-form-item-children-icon的样式
  @at-root &.has-feedback .#{$form-prefix-cls}-item-children-icon {
    position       : absolute;
    top            : 0;
    right          : 0;
    visibility     : visible;
    pointer-events : none;
    width          : $form-component-height;
    height         : $form-component-height;
    line-height    : $form-component-height;
    text-align     : center;
    font-size      : $form-feedback-font-size;
    animation      : zoomIn .3s #{ease-out-back};
    z-index        : 1;

    & i {
      position    : absolute;
      top         : 0;
      right       : 0;
      bottom      : 0;
      left        : 0;
      margin      : auto;
      width       : 2.5rem;
      height      : 2.5rem;
      line-height : 2.5rem;
    }
  }
}

.has-success {
  @at-root &.has-feedback:after, &.has-feedback .#{$form-prefix-cls}-item-children-icon {
    animation-name : diffZoomIn1 !important;
  }
  .#{$form-prefix-cls}-item-children .#{$form-prefix-cls}-item-children-icon {
    animation-name : diffZoomIn1 !important;

    i {
      color : #1bb367;
    }
  }
}

// success时表单项的边框
.has-success {
  @include form-control-validation($success-color, $success-color);

  // select
  .#{$ant-prefix}-select {
    @at-root &-open .#{$ant-prefix}-select-selection, &-focused #{$ant-prefix}-select-selection {
      @include active($success-color);
    }
  }

  .#{$ant-prefix}-select-selection:hover {
    //@include active($success-color);
    border-color : $success-color !important;
    box-shadow   : none;
  }

  .#{$ant-prefix}-input-group-addon .#{$ant-prefix}-select {
    @at-root &-selection {
      border-color : transparent;
      box-shadow   : none;
    }
  }

  // arrow and icon
  .#{$ant-prefix}-calendar-picker-icon:after, #{$ant-prefix}-picker-icon:after, .#{$ant-prefix}-select-arrow, .#{$ant-prefix}-cascader-picker-arrow {
    right : 2rem !important;
  }

  .#{$ant-prefix}-cascader-picker:focus #{$ant-prefix}-input, .#{$ant-prefix}-cascader:hover {
    border-color : $success-color !important;
    box-shadow   : none;
  }

  // radio-group
  .#{$ant-prefix}-radio-group label.tri-radio-button-wrapper-checked {
    border-width : 1px;
    border-color : $success-color;
    box-shadow   : -1px 0 0 0 $success-color;
    @at-root &-focused, &:focus {
      @include active($success-color);
    }
    @at-root &:not([disabled]):hover {
      border-color : $success-color;
    }
  }

  // input-number, timepicker
  .#{$ant-prefix}-input-number, .#{$ant-prefix}-time-picker-input {
    @at-root &-focused, &:focus {
      @include active($success-color);
    }
    @at-root &:not([disabled]):hover {
      border-color : $success-color;
    }
  }

  .#{$ant-prefix}-mention-wrapper {
    .#{$ant-prefix}-mention-editor {
      @at-root &, &:not([disabled]):hover {
        @at-root &, &:not([disabled]):hover {
          border-color : $success-color;
        }
      }
    }

    @at-root &.#{$ant-prefix}-mention-active .#{$ant-prefix}-mention-editor, & .#{$ant-prefix}-mention-editor:not([disabled]):focus {
      @include active($success-color);
    }
  }
}

.has-error {
  @at-root &.has-feedback:after, &.has-feedback .#{form-prefix-cls}-item-children-icon {
    animation-name : diffZoomIn2 !important;
  }
  .#{$form-prefix-cls}-item-children .#{$form-prefix-cls}-item-children-icon {
    i {
      color : #d93649;
    }
  }
}

.has-warning {
  @at-root &.has-feedback:after, &.has-warning .#{form-prefix-cls}-item-children-icon {
    animation-name : diffZoomIn3 !important;
  }
  .#{$form-prefix-cls}-item-children .#{$form-prefix-cls}-item-children-icon {
    i {
      color : #ffbf00;
    }
  }
}

.has-warning {
  @include form-control-validation ($warning-color, $warning-color);

  //select
  .#{$ant-prefix}-select {
    @at-root &-selection {
      border-color : $warning-color;
    }
    @at-root &-open .#{$ant-prefix}-select-selection,
    &-focused .#{$ant-prefix}-select-selection {
      @include active($warning-color);
    }
  }

  // arrow and icon
  .#{$ant-prefix}-calendar-picker-icon:after,
  .#{$ant-prefix}-picker-icon:after,
  .#{$ant-prefix}-select-arrow,
  .#{$ant-prefix}-cascader-picker-arrow {
    color : $warning-color;
  }

  //input-number, timepicker
  .#{$ant-prefix}-input-number,
  .#{$ant-prefix}-time-picker-input {
    border-color : $warning-color;
    @at-root &-focused,
    &:focus {
      @include active($warning-color);
    }
    @at-root &:not([disabled]):hover {
      border-color : $warning-color;
    }
  }
}

.has-success .has-feedback {
  color : #444444 !important;
}

.has-error {
  @include form-control-validation ($error-color, $error-color);

  //select
  .#{$ant-prefix}-select {
    @at-root &-selection {
      border-color : $error-color;
    }
    @at-root &-open .#{$ant-prefix}-select-selection,
    &-focused .#{$ant-prefix}-select-selection {
      @include active($error-color);
    }
  }

  .#{$ant-prefix}-input-group-addon .#{$ant-prefix}-select {
    @at-root &-selection {
      border-color : transparent;
      box-shadow   : none;
    }
  }

  // arrow and icon
  .#{$ant-prefix}-calendar-picker-icon:after,
  .#{$ant-prefix}-picker-icon:after,
  .#{$ant-prefix}-select-arrow,
  .#{$ant-prefix}-cascader-picker-arrow {
    color : $error-color;
    right : 2rem !important;
  }

  //input-number, timepicker
  .#{$ant-prefix}-input-number,
  .#{$ant-prefix}-time-picker-input {
    border-color : $error-color;
    @at-root &-focused,
    &:focus {
      @include active($error-color);
    }
    @at-root &:not([disabled]):hover {
      border-color : $error-color;
    }
  }

  .#{$ant-prefix}-mention-wrapper {
    .#{$ant-prefix}-mention-editor {
      @at-root &,
      &:not([disabled]):hover {
        border-color : $error-color;
      }
    }

    @at-root &.#{$ant-prefix}-mention-active .#{$ant-prefix}-mention-editor,
    & .#{$ant-prefix}-mention-editor:not([disabled]):focus {
      @include active($error-color);
    }
  }
}

.is-validating {
  @at-root &.has-feedback:after {
    display   : inline-block;
    animation : loadingCircle 1s infinite linear;
    content   : "\e64d";
    color     : $primary-color;
  }
  @at-root &.has-feedback .#{form-prefix-cls}-item-children-icon {
    display : inline-block;
    color   : $primary-color;
  }
}

.#{$ant-prefix}-advanced-search-form {
  .#{$form-prefix-cls}-item {
    margin-bottom : 16px;
  }

  .#{$ant-prefix}-input,
  .#{$ant-prefix}-input-group .#{$ant-prefix}-input,
  .#{$ant-prefix}-input-group .#{$ant-prefix}-input-group-addon {
    height : $input-height-base;
  }
}

// need there different zoom animation
// otherwise won't trigger anim
@keyframes diffZoomIn1 {
  0% {
    transform : scale(0);
  }
  100% {
    transform : scale(1);
  }
}

@keyframes diffZoomIn2 {
  0% {
    transform : scale(0);
  }
  100% {
    transform : scale(1);
  }
}

@keyframes diffZoomIn3 {
  0% {
    transform : scale(0);
  }
  100% {
    transform : scale(1);
  }
}
