@import '../../core/style/component_mixins/menu-common';

$option-group-prefix-cls : "#{$ant-prefix}-option-group";

.#{$option-group-prefix-cls} {
  &-label {
    @include menu-item-base();
    user-select : none;
    cursor      : default;

    //theme
    color       : $text-color-secondary

  }

  &-disabled &-label {
    color : $disabled-color;
  }
}
