@use "./select.scss";

tri-select .#{select.$select-prefix-cls} {
  width : 100%;
}

.#{select.$select-prefix-cls}-dropdown {
  top           : 100%;
  left          : 0;
  position      : relative;
  width         : 100%;
  margin-top    : 2px;
  margin-bottom : 2px;
  @at-root &.#{select.$select-prefix-cls}-dropdown-placement-topLeft {
    top       : -100%;
    transform : translateY(-100%) !important;
  }
  @at-root &-menu {
    @at-root &-item {
      line-height : 1.5;
    }
  }
}
