@use "../../core/style/variables" as v;

$message-prefix-cls : "#{ v.$tri-prefix}-message";

@mixin tri-message-theme($theme) {
  .#{$message-prefix-cls} {
    @at-root &-notice-content {
      border-radius : v.$border-radius-base;
      box-shadow    : v.$shadow-2;
      background    : $component-background;
    }

    @at-root &-success .#{ v.$iconfont-css-prefix} {
      color : $success-color;
    }

    @at-root &-error .#{ v.$iconfont-css-prefix} {
      color : $error-color;
    }

    @at-root &-warning .#{ v.$iconfont-css-prefix} {
      color : $warning-color;
    }

    @at-root &-info .#{ v.$iconfont-css-prefix},
    &-loading .#{ v.$iconfont-css-prefix} {
      color : $info-color;
    }
  }
}
