@import "../../core/style/mixins";
@import "../../core/style/variables";

$breadcrumb-prefix-cls : "#{$tri-prefix}-breadcrumb";

.#{$breadcrumb-prefix-cls} {
  font-size : $font-size-base;

  a {
    transition : color .3s;
  }

  @at-root & > span:last-child {
    font-weight : bold;
  }

  @at-root & > span:last-child #{&}-separator {
    display : none;
  }

  @at-root &-separator {
    margin : 0 8px;
  }

  @at-root &-link {
    > .#{$iconfont-css-prefix} + span {
      margin-left : 4px;
    }
  }
}
