@import '../../style/palette';
@import '../../style/theming';
@import '../../style/typography/typography-utils';

@mixin tri-option-theme($theme) {
  $foreground : map-get($theme, foreground);
  $background : map-get($theme, background);
  $primary    : map-get($theme, primary);
  $accent     : map-get($theme, accent);
  $warn       : map-get($theme, warn);

  .tri-option {
    color : tri-color($foreground, text);

    &:hover:not(.tri-option-disabled),
    &:focus:not(.tri-option-disabled) {
      background : tri-color($background, hover);
    }

    // In multiple mode there is a checkbox to show that the option is selected.
    &.tri-selected:not(.tri-option-multiple):not(.tri-option-disabled) {
      background : tri-color($background, hover);
    }

    &.tri-active {
      background : tri-color($background, hover);
      color      : tri-color($foreground, text);
    }

    &.tri-option-disabled {
      color : tri-color($foreground, hint-text);
    }
  }

  .tri-primary .tri-option.tri-selected:not(.tri-option-disabled) {
    color : tri-color($primary, text);
  }

  .tri-accent .tri-option.tri-selected:not(.tri-option-disabled) {
    color : tri-color($accent, text);
  }

  .tri-warn .tri-option.tri-selected:not(.tri-option-disabled) {
    color : tri-color($warn, text);
  }
}

@mixin tri-option-typography($config) {
  .tri-option {
    font     : {
      family : tri-font-family($config);
      size   : tri-font-size($config, subheading-2);
    }
  }
}
