@use '../../core/style/variables';
@use '../../core/style/cdk/a11y';


// Styles that only apply to the standard appearance of the form-field.

// The height of the underline.
$standard-underline-height: 1px !default;
// The padding between the top of the form field and the label text (used to align the standard
// form field with the fill and outline appearances).
$standard-padding-top: 0.75em !default;


.tri-form-field-appearance-standard {
  .tri-form-field-flex {
    padding-top: $standard-padding-top;
  }

  &.tri-form-field-disabled .tri-form-field-underline {
    background-position: 0;
    background-color: transparent;

    @include a11y.cdk-high-contrast(active, off) {
      border-top-style: dotted;
      border-top-width: 2px;
    }
  }
}
