<header class='flex'>
  <h5>Welcome to {{ title }}!</h5>
</header>
<main>
  <ul>
    <li><a [routerLink]="'demo-form-builder'">demo-form-builder</a></li>
    <li><a [routerLink]="'demo-custom-form-field'">demo-custom-form-field</a></li>
    <li><a [routerLink]="'demo-instance-apply'">demo-instance-apply</a></li>
    <li><a [routerLink]="'demo-change-select'">demo-change-select</a></li>
    <li><a [routerLink]="'demo-validation'">demo-validation</a></li>
    <li><a [routerLink]="'demo-use-one-form-layout'">demo-use-one-form-layout</a></li>
  </ul>

  <router-outlet>

  </router-outlet>
</main>
