<tri-tooltip [title]="'Select a theme!'">
  <!--<tri-radio-group tri-tooltip
                  (ngModelChange)="installTheme(theme)">
    <label *ngFor="let theme of themes" tri-radio-button [value]="'theme'">
      <span>Hangzhou</span>
      <i class="docs-theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</i>
      <div class="docs-theme-picker-primary" [style.background]="theme.primary"></div>
    </label>
  </tri-radio-group>-->
</tri-tooltip>

<!--&lt;!&ndash; TODO: replace use of `md-menu` here with a custom overlay &ndash;&gt;-->
<!--<ul nz-menu class="docs-theme-picker-menu" x-position="before">-->
<!--<li nz-menu-item *ngFor="let theme of themes">-->
<!--<div md-menu-item (click)="installTheme(theme)">-->
<!--<div class="docs-theme-picker-swatch">-->
<!--<i class="docs-theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</i>-->
<!--<div class="docs-theme-picker-primary" [style.background]="theme.primary"></div>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
