<ngx-tree-viewport #viewport
                   [@.disabled]="!enableAnimation || viewport.isScrolling"
                   [auditViewportUpdate]="UIOptions.auditViewportUpdate"
                   [enable]="useVirtualScroll"
                   [referenceItemHeight]="UIOptions.referenceItemHeight"
                   [treeModel]="treeModel">
  <div *ngIf="!viewport.virtualScroll.isDisabled()"
       [style.height.px]="treeModel?.virtualRoot.height"
       class="height-raiser"></div>
  <div [class.node-dragging]="treeDraggingTargetService.isDragging()"
       [class.virtual-scroll-disabled]="viewport.virtualScroll.isDisabled()"
       [style.transform]="'translateY(' + root.marginTop + 'px)'"
       class="tree-root">
    <ngx-tree-node-children #root
                            [children]="treeModel?.roots"
                            [disableMarginTop]="true"
                            [node]="treeModel?.virtualRoot"
                            [options]="UIOptions"
                            [refreshTree]="refreshTree"
                            [templates]="{
                              expanderTemplate: expanderTemplate,
                              loadingTemplate: loadingTemplate,
                              treeNodeTemplate: treeNodeTemplate,
                              treeNodeWrapperTemplate: treeNodeWrapperTemplate,
                              treeNodeFullTemplate: treeNodeFullTemplate
                            }">
    </ngx-tree-node-children>
  </div>
</ngx-tree-viewport>
