@import "../../core/themes/default-theme";
@import "../../input/style/input-mixin";
@import "../../input/style/input-theme";

$timepicker-prefix-cls : "#{$ant-prefix}-time-picker";

@mixin tri-time-picker-theme($theme) {
  $foreground                     : map-get($theme, foreground);
  $background                     : map-get($theme, background);

  $time-picker-selected-bg        : tri-color($background, background-color-base) !default;

  .#{$timepicker-prefix-cls}-panel {

    @at-root &-inner {
      background-color : tri-color($foreground, component-background);
      box-shadow       : $box-shadow-base;
    }

    @at-root &-input {

      @include placeholder($theme);

      @at-root &-wrap {
        border-bottom : $border-width-base $border-style-base tri-color($foreground, border-color-split);
      }

      @at-root &-invalid {
        border-color : red;
      }
    }

    @at-root &-clear-btn:after {
      color : tri-color($foreground, disabled-color);
    }

    @at-root &-clear-btn:hover:after {
      color : tri-color($foreground, text-color-secondary);
    }

    @at-root &-select {
      border-left : $border-width-base $border-style-base tri-color($foreground, border-color-split);

      li:hover {
        background : tri-color($foreground, item-hover-bg);
      }

      @at-root li#{&}-option-selected {
        background : $time-picker-selected-bg;
        @at-root &:hover {
          background : $time-picker-selected-bg;
        }
      }

      @at-root li#{&}-option-disabled {
        color : tri-color($foreground, btn-disable-color);
        @at-root &:hover {
          background : transparent;
        }
      }
    }

    @at-root &-combobox {
      @include clearfix;
    }

  }

  .#{$timepicker-prefix-cls} {
    @at-root &-icon {
      color : tri-color($foreground, text-color-secondary);
    }

    @at-root &-input {
      @include input;
      @at-root &[disabled] {
        @include tri-input-disabled-theme($theme);
      }
    }
  }
}