@import "../../core/themes/default.theme";

$avatar-prefix-cls : "#{$ant-prefix}-avatar";

@mixin avatar-size($size, $font-size) {
  width         : $size;
  height        : $size;
  line-height   : $size;
  border-radius : $size / 2;

  @at-root & > * {
    line-height : $size;
  }

  @at-root &.#{$avatar-prefix-cls}-icon {
    font-size : $font-size;
  }
}

.#{$avatar-prefix-cls} {
  display     : inline-block;
  text-align  : center;
  background  : $avatar-bg;
  color       : $avatar-color;
  white-space : nowrap;
  position    : relative;
  overflow    : hidden;
  @include avatar-size($avatar-size-base, $avatar-font-size-base);

  @at-root &-lg {
    @include avatar-size($avatar-size-lg, $avatar-font-size-lg);
  }

  @at-root &-sm {
    @include avatar-size($avatar-size-sm, $avatar-font-size-sm);
  }

  @at-root &-square {
    border-radius : $avatar-border-radius;
  }

  @at-root & > img {
    width  : 100%;
    height : 100%;
  }
}
