@use "sass:map";
@use "../../core/themes/theme";
@use "../../core/style/theming";
@use "../../core/style/variables" as v;

$collapse-prefix-cls : "#{ v.$tri-prefix}-collapse";

//$primary             : theme.$primary;
//$foreground          : theme.$foreground;
//$background          : theme.$background;

$collapse-header-bg  : theming.tri-color(theme.$background, background-color-base) !default;
$collapse-active-bg  : theming.tri-color(theme.$background, background-color-active) !default;


@mixin tri-collapse-theme() {

  .#{$collapse-prefix-cls} {
    background-color : $collapse-header-bg;
    border-radius    : v.$border-radius-base;
    border           : v.$border-width-base v.$border-style-base theming.tri-color(theme.$foreground, border-color-base);
    border-bottom    : 0;

    @at-root & > #{&}-item {
      border-bottom : v.$border-width-base v.$border-style-base theming.tri-color(theme.$foreground, border-color-base);

      @at-root &:last-child {
        @at-root &,
        & > .#{$collapse-prefix-cls}-header {
          border-radius : 0 0 v.$border-radius-base v.$border-radius-base;
        }
      }

      > .#{$collapse-prefix-cls}-header {
        color : theming.tri-color(theme.$foreground, heading-color);

        .arrow {
          color : theming.tri-color(theme.$foreground, text-color-secondary);
        }
      }
    }

    @at-root &-content {
      color            : theming.tri-color(theme.$foreground, text-color);
      background-color : theming.tri-color(theme.$background, component-background);
    }

    @at-root &-item:last-child {
      > .#{$collapse-prefix-cls}-content {
        border-radius : 0 0 v.$border-radius-base v.$border-radius-base;
      }
    }

    @at-root &-borderless {
      background-color : theming.tri-color(theme.$background, component-background);
      border           : 0;
    }

    @at-root &-borderless > #{&}-item-active {
      border : 0;
    }

    @at-root &-borderless > #{&}-item > #{&}-content {
      background-color : transparent;
      border-top       : v.$border-width-base v.$border-style-base theming.tri-color(theme.$foreground, border-color-base);
    }

    @at-root &-borderless > #{&}-item > #{&}-header {
      @at-root &:hover {
        background-color : $collapse-header-bg;
      }
    }

    @at-root & > #{&}-item-disabled > #{&}-header {
      @at-root &,
      & > .arrow {
        color            : theming.tri-color(theme.$foreground, disabled-color);
        background-color : theming.tri-color(theme.$background, disabled-bg);
      }
    }

    @at-root & > #{&}-item:not(#{&}-item-disabled) > .#{$collapse-prefix-cls}-header:active {
      background-color : $collapse-active-bg;
    }
  }
}
