@use "sass:map";
@use "../../core/themes/theme";
@use "../../core/style/theming";
@use "../../core/style/variables" as v;

$collapse-prefix-cls : "#{ v.$tri-prefix}-collapse";

//$primary             : theme.$primary;
//$foreground          : theme.$foreground;
//$background          : theme.$background;

$collapse-header-bg  : theming.tri-color(theme.$background, background-color-base) !default;
$collapse-active-bg  : theming.tri-color(theme.$background, background-color-active) !default;

@mixin _border-bottom-style() {
  border-bottom : v.$border-width-base v.$border-style-base theming.tri-color(theme.$foreground, border-color-base);
}

@mixin _border-top-style() {
  border-top : v.$border-width-base v.$border-style-base theming.tri-color(theme.$foreground, border-color-base);
}

@mixin tri-collapse-theme() {

  .#{$collapse-prefix-cls} {
    background-color : $collapse-header-bg;
    border-radius    : v.$border-radius-base;
    border           : v.$border-width-base v.$border-style-base theming.tri-color(theme.$foreground, border-color-base);

    @at-root & > #{&}-item {

      > .#{$collapse-prefix-cls}-header {
        @include _border-bottom-style();
        color : theming.tri-color(theme.$foreground, heading-color);

        .arrow {
          color : theming.tri-color(theme.$foreground, text-color-secondary);
        }
      }
    }

    @at-root &-content {
      color            : theming.tri-color(theme.$foreground, text-color);
      background-color : theming.tri-color(theme.$background, component-background);
      @include _border-bottom-style();
    }

    @at-root & > #{&}-item:last-child {
      > .#{$collapse-prefix-cls}-header {
        border-bottom : 0;
      }

      > .#{$collapse-prefix-cls}-content {
        border-radius : 0 0 v.$border-radius-base v.$border-radius-base;
        @include _border-top-style();
        border-bottom: 0;
      }
    }

    @at-root &#{&}-borderless {
      background-color : theming.tri-color(theme.$background, component-background);
      border           : 0;

      > #{$collapse-prefix-cls}-item > #{$collapse-prefix-cls}-content {
        background-color : transparent;
      }

      > #{$collapse-prefix-cls}-item > #{$collapse-prefix-cls}-header {
        @at-root &:hover {
          background-color : $collapse-header-bg;
        }
      }
    }

    @at-root & > #{&}-item-disabled > #{&}-header {
      @at-root &,
      & > .arrow {
        color            : theming.tri-color(theme.$foreground, disabled-color);
        background-color : theming.tri-color(theme.$background, disabled-bg);
      }
    }

    @at-root & > #{&}-item:not(#{&}-item-disabled) > .#{$collapse-prefix-cls}-header:active {
      background-color : $collapse-active-bg;
    }
  }
}
