@import "../../core/themes/default-theme";

$collapse-prefix-cls : "#{$ant-prefix}-collapse";


@mixin collapse-close() {
  @include iconfont-size-under-12px(9px, 0);
}

@mixin collapse-open() {
  @include iconfont-size-under-12px(9px, 90deg);
}

.#{$collapse-prefix-cls} {
  border-radius    : $border-radius-base;
  border-bottom    : 0;

  @at-root & > #{&}-item {

    @at-root &:last-child {
      @at-root &,
      & > .#{$collapse-prefix-cls}-header {
        border-radius : 0 0 $border-radius-base $border-radius-base;
      }
    }

    > .#{$collapse-prefix-cls}-header {
      line-height : 22px;
      padding     : 8px 0 8px 32px;
      cursor      : pointer;
      position    : relative;
      transition  : all .3s;

      .arrow {
        @include collapse-close();
        @include iconfont-mixin();
        position       : absolute;
        display        : inline-block;
        font-weight    : bold;
        line-height    : 40px;
        vertical-align : middle;
        transition     : transform 0.24s;
        top            : 0;
        left           : 16px;
      }
    }
  }

  @at-root &-anim-active {
    transition : height .2s $ease-out;
  }

  @at-root &-content {
    overflow         : hidden;
    padding          : 0 16px;

    @at-root & > #{&}-box {
      padding-top    : 16px;
      padding-bottom : 16px;
    }

    @at-root &-inactive {
      display : none;
    }
  }

  @at-root &-item:last-child {
    > .#{$collapse-prefix-cls}-content {
      border-radius : 0 0 $border-radius-base $border-radius-base;
    }
  }

  @at-root & > #{&}-item > #{&}-header[aria-expanded="true"] {
    .arrow {
      @include collapse-open();
    }
  }

  @at-root &-borderless {
    border           : 0;
  }

  @at-root &-borderless > #{&}-item-active {
    border : 0;
  }

  @at-root &-borderless > #{&}-item > #{&}-content {
    background-color : transparent;
  }

  @at-root &-borderless > #{&}-item > #{&}-header {
    transition : all .3s;
  }
}
