@import "../../core/themes/default-theme";

$layout-prefix-cls : "#{$ant-prefix}-layout";

@mixin tri-layout-theme($theme) {
  @include import-once('component:layout') {
    .#{$layout-prefix-cls} {
      background     : $layout-body-background;

      @at-root &-header {
        //background  : $layout-header-background;
      }

      @at-root &-footer {
        color     : $text-color;
      }

      @at-root &-sider {
        background : $layout-sider-background;

        @at-root &-trigger {
          background  : $layout-trigger-background;
          color       : $layout-trigger-color;
        }

        @at-root &-zero-width {
          @at-root &-trigger {
            background    : $layout-sider-background;
            color         : #fff;

            @at-root &:hover {
              background : tint($layout-sider-background, 10%);
            }
          }
        }
      }
    }
  }
}