<ng-template [ngIf]="!templates.treeNodeFullTemplate">
  <tri-tree-node-wrapper (click)="node.mouseAction('click', $event)"
                         (contextmenu)="node.mouseAction('contextMenu', $event)"
                         (dblclick)="node.mouseAction('dblClick', $event)"
                         triTreeViewDrop
                         (treeViewDrop)="node.onDrop($event)"
                         (treeDropDragEnter)="node.mouseAction('dragEnter', $event)"
                         (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
                         (treeDropDragOver)="node.mouseAction('dragOver', $event)"
                         [class.tree-node-wrapper-active]="node.isActive"
                         [class.tree-node-wrapper-focused]="node.isFocused"
                         [index]="index"
                         triTreeViewDrag
                         [treeViewDrag]="node"
                         [node]="node"
                         [options]="options"
                         [style.padding-left]="options.levelPadding!(node)"
                         [templates]="templates"
                         [treeAllowDrop]="allowDrop"
                         [treeDragEnabled]="allowDrag(node)">
  </tri-tree-node-wrapper>

  <tri-tree-node-children *ngIf="node.isExpanded && node.hasVisibleChildren"
                          [children]="node.visibleChildren"
                          [node]="node"
                          [options]="options"
                          [templates]="templates"></tri-tree-node-children>
</ng-template>

<ng-container
  [ngTemplateOutletContext]="{ $implicit: null, node: node, index: index, options: options, templates: templates }"
  [ngTemplateOutlet]="templates.treeNodeFullTemplate">
</ng-container>
