<div
  class="drag-container"
  pfCakeRootSlot
  triDropListContainer
>
  <tri-card class="drag-box" triDrag pfCakeDefinition>
    <ng-template triDragPlaceholder>
      <div></div>
    </ng-template>
    <tri-card-header>
      <div>Card subtitle1</div>
    </tri-card-header>
    <tri-card-body>
      <p>hello world1</p>
    </tri-card-body>
    <tri-card-footer>
      <button triButton variant="outlined">View More</button>
    </tri-card-footer>
  </tri-card>

  <tri-card class="drag-box" triDrag pfCakeDefinition>
    <ng-template triDragPlaceholder>
      <div></div>
    </ng-template>
    <tri-card-header>
      <div>Card subtitle2</div>
    </tri-card-header>
    <tri-card-body>
      <p>hello world2</p>
    </tri-card-body>
    <tri-card-footer>
      <button triButton variant="outlined">View More</button>
    </tri-card-footer>
  </tri-card>

  <tri-card class="drag-box" triDrag pfCakeDefinition>
    <ng-template triDragPlaceholder>
      <div></div>
    </ng-template>
    <tri-card-header>
      <div>Card subtitle3</div>
    </tri-card-header>
    <tri-card-body>
      <p>hello world3</p>
    </tri-card-body>
    <tri-card-footer>
      <button triButton variant="outlined">View More</button>
    </tri-card-footer>
  </tri-card>
</div>