<div triDropContainerGroup>
<div
  class="drag-container"
  pfCakeRootSlot
  triDropListContainer
>
  <tri-card *ngFor="let card of cards" class="drag-box" triDrag pfCakeDefinition>
    <ng-template triDragPlaceholder>
      <div></div>
    </ng-template>
    <tri-card-header triDropListContainer>
      <div>{{card.title}}</div>
    </tri-card-header>
    <tri-card-body triDropListContainer>
      <p>{{card.content}}</p>
    </tri-card-body>
    <tri-card-footer triDropListContainer>
      <button triButton variant="outlined">View More</button>
    </tri-card-footer>
  </tri-card>
</div>
</div>