<ng-template [ngIf]="!templates.treeNodeWrapperTemplate">
  <tri-tree-node-expander [index]="index"
                          [node]="node"
                          [options]="options"
                          [template]="templates.expanderTemplate"></tri-tree-node-expander>

  <tri-tree-node-content [index]="index"
                         [node]="node"
                         [options]="options"
                         [template]="templates.treeNodeTemplate">
  </tri-tree-node-content>
</ng-template>

<ng-container [ngTemplateOutletContext]="{
                $implicit: null,
                node: node,
                index: index,
                options: options,
                templates: templates
              }"
              [ngTemplateOutlet]="templates.treeNodeWrapperTemplate">
</ng-container>
